@model IEnumerable<SEA_Application.Models.AspNetAnnouncement_Subject>

<script type="text/javascript">
    var table;
    $(document).ready(function () {
        table = $("#example").dataTable();
        DrawTable();

        $('.table').on('click', 'tbody tr', function () {
            var td = $(this).children("td");
            var userName = $(td[0]).children("input").val();
            userName = userName.trim();
            window.location.href = "/Parent_Dashboard/AnnouncementDetail?id=" + userName;
        });

        var allCookies = document.cookie;
        cookieArray = allCookies.split(';');

        for (var i = 0; i < cookieArray.length; i++) {
            name = cookieArray[i].split('=')[0];
            value = cookieArray[i].split('=')[1];

            if (name == "StudentAnnouncementCookie" || name == " StudentAnnouncementCookie") {
                var selectSubject = document.getElementById('SubjectID');
                selectSubject.value = value;
             //   StudentAnnouncement(value);

            }
        }

        $("#ChildrenID").click(function () {
            All();
        });

        All();
    });

    function AllAnnouncement() {
        $.get('@Url.Action("Announcement")',
                 function (data) {
                    table.fnClearTable();
                    $.each(data, function (i, item) {
                        table.fnAddData([item.Title + "<input type='hidden' value=" + item.Id + " />", item.SubjectName]);
                    });
                    table.fnDraw();
                });
    }

    function class_click(item) {
        debugger;
        var Child = $("#ChildrenID").val();
        $("#Class option[value='']").remove();
        if (item.value != '0')
            $.get('@Url.Action("AnnouncementBySubject")',
                { subjectID: item.value}, function (data) {
                    table.fnClearTable();
                    $.each(data, function (i, item) {
                        table.fnAddData([item.Title + "<input type='hidden' value=" + item.Id + " />", item.SubjectName]);
                    });
                    table.fnDraw();
                });
        else
            All();
        

    }

    function All() {
        $.get('@Url.Action("AllAnnouncement")',
             function (data) {
                table.fnClearTable();
                $.each(data, function (i, item) {
                    table.fnAddData([item.Title + "<input type='hidden' value=" + item.Id + " />", item.SubjectName]);
                });
                table.fnDraw();
            });
    }
    function DrawTable() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        //$('#example_filter').css("col-lg-9 col-md-8 col-sm-12 col-xs-12");

        $('#example_wrapper').css("text-align", "left");
        $('#example_length').css("text-align", "left");
        $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        $("#example_length label").css("text-align","left");
        $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
        // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#12384C !important" });
        //$('#example_length').css({ "overflow": "auto" });
        $('#example_filter input').addClass("add");
        $('#example_filter').append('<span class="glyphicon glyphicon-search  form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        var list = $("#SubjectID").html();
        $('#example_length').append(

            '<div class="col-md-1" style="width:0%; padding-left:1px;">' +
             '<div class="d-bar"></div>' +
            '</div>'
              +
           '<lable class="col-md-2 col-lg-2 col-sm-12 col-xs-12 control-lable" style="text-align:left; width:100px; padding-left:0px; padding-right:0px;">Select Subject</lable>' +
           '<div class="col-md-2 col-lg-2">' +
           '<select class="form-control input-sm" id="Class" name="ClassID" onclick="class_click(this)">'+list+'</select>' +
           '</div>' +

            '<div class="col-md-1" style="width:0%; padding-left:1px;">' +
                '<div class="d-bar"></div>' +
            '</div>'
              +
           '<div class="col-md-5 col-lg-3" style="padding-left:0px">' +
           '<div class="col-md-1 col-sm-3 col-xs-3" style="padding-left:0px"><a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a><span style="color:gray"><i class="glyphicon glyphicon-edit" data-placement="bottom"></i></span></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a><span style="color:gray"><i class="glyphicon glyphicon-download-alt"  data-placement="bottom"></i></span></a></div>' +
           ' <div class="col-md-1 col-sm-3 col-xs-3"><a><span style="color:gray"><i class="fa fa-ban" data-placement="bottom"></i></span>' + '</a></div>' +
           '<div class="col-md-1" padding-left:0px;">' +
             '<div class="d-bar"></div>' +
            '</div>' +
           '</div>');
        $("#Class").prepend("<option value='0'>All</option>");
    }
   
</script>
<label>@Html.ActionLink("Home", "Dashboard", "Account") >  <b><a href="#">Announcement</a></b></label>
<h4 class="orange">Announcement</h4>
<div class="box box-primary" style="display:none">
    <div class="box-header with-border">
    </div>
    <div class="box-body">
        
            <div class="box-body">
                <div class="form-group" >
                    <lable class="col-md-2 control-label"><b>Select Subject</b></lable>
                    <div class="col-md-10">
                        @Html.DropDownList("SubjectID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="box box-primary">
    <div class="box-body">
        <table class="table table-striped table-bordered" id="example">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Subject
                    </th>
                </tr>
            </thead>
            <tbody id="announcement_table"></tbody>
        </table>
    </div>
</div>
