<!-- header -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/gauge.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<style>
    .fill-width.dropdown > .dropdown-menu > li > a {
        white-space: normal;
    }

    #partial {
        width: 100%;
        height: 500px;
    }
</style>
<script>
    $(document).ready(function () {


        /////****************************************************************************************************//

        var allCookies = document.cookie;
        cookieArray = allCookies.split(';');

        for (var i = 0; i < cookieArray.length; i++) {
            debugger;
            name = cookieArray[i].split('=')[0];
            value = cookieArray[i].split('=')[1];



            if ((name == "StudentDashboard" || name == " StudentDashboard") && (value == "StuAssignment" || value == " StuAssignment")) {
                
                StuAssignment();
                break;
            }
            else if ((name == "StudentDashboard" || name == " StudentDashboard") && (value == "StuAnnouncement" || value == " StuAnnouncement")) {
                StuAnnouncement();
                break;
            }
            else if ((name == "StudentDashboard" || name == " StudentDashboard") && (value == "StuMarks" || value == " StuMarks")) {
                StuMarks();
                break;
            }


            else if ((name == "StudentDashboard" || name == " StudentDashboard") && (value == "StuAttendance" || value == " StuAttendance")) {
                StuAttendance();
                break;
            }
            else if ((name == "StudentDashboard" || name == " StudentDashboard") && (value == "StuExam" || value == " StuExam")) {
                StuExam();
                break;
            }
            else if ((name == "StudentDashboard" || name == " StudentDashboard") && (value == "StuTest" || value == " StuTest")) {
                StuTest();

                break;
            }


           

        }


        //*******************************************************************************************************//
        labelA:
            $(function () {
                $.get('@Url.Action("GetChildren","Parent_Dashboard")', function (data) {
                    debugger;
                    //$('#ChildrenID').html('');
                    $('#ChildrenID').prop('disabled', false);
                    $.each(data, function (i, item) {
                        $('#ChildrenID').append('<option value=' + item.Id + '>' + item.Name + '</option>');
                    });
                    //$('#ChildrenID').append('<option value="">Select Child</option>');

                });
            });

        $("#ChildrenID").click(function () {
            debugger;
            var studentid = $('#ChildrenID').val();
            $.get('@Url.Action("StudentAnnouncement", "Parent_Dashboard")',
                {studentID:studentid},function (data) {

                     $('#announcement').html('');

                     $('.count').html(data.length);
                     $.each(data, function (i, item) {

                         $('#announcement').append('<li><a href="AnnouncementDetail?id=' + item.Id + '">' + item.Title + '</a></li>');


                     });

                 });
        });

        function StuAssignment() {
           
            var studentID = $('#ChildrenID').val();

            $.get('@Url.Action("Student_Assignments", "Parent_Dashboard")', function (data) {
                $("#partial").html(data);
            });
            
        }
        $('#student_assignment').click(function () {
            document.cookie = "StudentDashboard=StuAssignment; expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/"
            StuAssignment();
        });

        function StuAnnouncement() {
            $.ajax({
                url: "@(Url.Action("Student_Announcement", "Parent_Dashboard"))",
                type: "GET",

                cache: false,
                success: function (data) {
                    //Fill div with results
                    $("#partial").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        }

        $('#student_announcement').click(function () {
            document.cookie = "StudentDashboard=StuAnnouncement; expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/"
            StuAnnouncement();

        });

        function StuMarks() {
            $.ajax({
                url: "@(Url.Action("Student_Marks", "Parent_Dashboard"))",
                type: "GET",

                cache: false,
                success: function (data) {
                    //Fill div with results
                    $("#partial").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        }

        $('#student_marks').click(function () {
            document.cookie = "StudentDashboard=StuMarks; expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/"
            StuMarks();
        });

        function StuAttendance() {
            $.ajax({
                url: "@(Url.Action("Student_Attendance", "Parent_Dashboard"))",
                type: "GET",

                cache: false,
                success: function (data) {
                    //Fill div with results
                    $("#partial").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        }
        $('#student_attendance').click(function () {
            document.cookie = "StudentDashboard=StuAttendance; expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/"
            StuAttendance();

        });

        function StuExam() {
            $.ajax({
                url: "@(Url.Action("Student_Exams", "Parent_Dashboard"))",
                type: "GET",

                cache: false,
                success: function (data) {
                    //Fill div with results
                    $("#partial").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        }

        $('#student_exam').click(function () {
            document.cookie = "StudentDashboard=StuExam; expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/"
            StuExam();
        });


        //*********************************************************************************************************//

        function StuTest() {
            $.ajax({
                url: "@(Url.Action("Student_Tests", "Parent_Dashboard"))",
                type: "GET",

                cache: false,
                success: function (data) {
                    //Fill div with results
                    $("#partial").html(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        }

        $('#student_test').click(function () {
            document.cookie = "StudentDashboard=StuTest; expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/"
            StuTest();
        });


        ///////**************************************************************************************************//
        //*********************************************************************************************************//
        



    });



</script>

<!-- /Header -->
<!-- Main -->

<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <lable class="col-md-2 control-label"><b>Select Child</b></lable>
            <div class="col-md-6">
                <select class="form-control" id="ChildrenID"></select>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!-- Left column -->
            <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Tools</strong></a>

            <hr>

            <ul class="nav nav-stacked">
                <li class="nav-header">
                    <a href="#" data-toggle="collapse" data-target="#userMenu">Settings <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="nav nav-stacked collapse in" id="userMenu">
                        <li><a id="student_assignment" href="#"><i class="glyphicon glyphicon-user"></i> Assignment</a></li>
                        <li><a id="student_test" href="#"><i class="glyphicon glyphicon-user"></i> Tests</a></li>
                        <li><a id="student_announcement" href="#"><i class="glyphicon glyphicon-user"></i> Announcement</a></li>
                        <li><a id="student_marks" href="#"><i class="glyphicon glyphicon-user"></i> Marks</a></li>
                        <li><a id="student_attendance" href="#"><i class="glyphicon glyphicon-user"></i> Attendance</a></li>
                        <li><a id="student_exam" href="#"><i class="glyphicon glyphicon-user"></i> Exams</a></li>
                        <li><a href="@Url.Action("GenerateInvoicePDF", "Student_Dashboard")"><i class="glyphicon glyphicon-user"></i> Challan Form</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <!-- /col-3 -->
        <div class="col-sm-9">

            <!-- column 2 -->
            <ul class="list-inline pull-right">
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
                <li class="dropdown fill-width">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-comment"></i><span class="count">3</span></a>
                    <ul class="dropdown-menu" role="menu" id="announcement"></ul>
                </li>
            </ul>
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong></a>
            <hr>
            <div id="partial">

            </div>
        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->


<div class="modal" id="addWidgetModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Widget</h4>
            </div>
            <div class="modal-body">
                <p>Add a widget stuff here..</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dalog -->
</div>
<!-- /.modal -->