@model SEA_Application.Models.AspNetFinancePeriod
@{
    ViewBag.Title = "Create";
}

<script src="~/AdminLTE/selectone.js"></script>

<script>

    count = 2;
    row = [];
    row[0] = 0;
    row[1] = 1;
    credit = 0;
    debit = 0;

    $(document).ready(function () {

        var id = $("#Id").val();

        $('.code option[value=""]').removeAttr("selected");
        var data1 = $('.code').select2()
                .on("select2:select", function (e) {
                    var selected_element = $(e.currentTarget);
                    var select_val = selected_element.val();
                    var id = $(this).children(".select2-hidden-accessible").context.id;

                    });

        $("#VoucherType option[value='']").remove();
        $("#VoucherType option[value=JV]").attr("selected", "selected")

        function getDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }

            if (mm < 10) {
                mm = '0' + mm
            }

            today = yyyy + '-' + mm + '-' + dd;
            $("#Time").val(today);
        }

        getDate();
        addLedger(0);
        addLedger(1);

        addrow();
        addrow();
        addrow();
        addrow();
        addrow();

        DeleteRow('6');
        DeleteRow('5');
        DeleteRow('4');
        DeleteRow('3');
        DeleteRow('2');

        var item = $("#VoucherType");
        CheckVoucherNo("JV");
    });

    function DeleteRow(id) {

        rowid = "#" + id;
        $(rowid).remove();

        console.log(row)

        row.splice(id, 1);
        console.log(row)
    }

    function addLedger(rowNumber) {
        var id = "#code" + rowNumber;
        var node = $(id);
        $.ajax({
            type: "POST",
            url: "/AspNetFinanceLedgers/SelectListLedgers",
            success: function (data) {
                console.log(data);
                $.each(data, function (i, item) {
                    console.log(data.Name);
                    node.append("<option value="+ item.Value+" >"+ item.Name+"</option>")

                });

            }
        });
    }

    function Addrow() {

        $("#Voucher-table").find("#1").after("<tr id=" + count + ">"
                                      + "<td style='width:20%'><div class='form-group'><div class=''><select id='code" + count + "' class='form-control code' onclick='Codedescription(this)' ></select></div></div</td>"
                                      + "<td style='width:35%'><div class='form-group'><div class=''><input type='text' id='transaction" + count + "' class='form-control' /></div></div</td>"
                                      + "<td style='width:20%'><div class='form-group'><div class=''><input type='number' id='debit" + count + "' class='form-control' onblur='isEqual1()'/></div></div</td>"
                                      + "<td style='width:20%'><div class='form-group'><div class=''><input type='number' id='credit" + count + "' class='form-control' onblur='isEqual1()' /></div></div</td>"
                                      + '<td style="width:2.5%"><div class="form-group"><div class=""><input type="button" id="" value="+" class="form-control btn btn-primary" onclick="addrow()" /></div></div></td>'
                                      + "<td style='width:2.5%'><div class='form-group'><div class=''><input type='button' id=" + count + " value='&times;' class='form-control btn btn-danger' onclick='deleteRow(this)' /></div></div></td>"
                                      + "</tr>");
        row[count] = count;
        addLedger(count);
        count = count + 1;
        $(".code").select2();

    }

    function isEqual1(){
        var credit = 0;
        var debit = 0;

        for (var i in row) {
            if (row[i] == null)
                continue;
            var creditId = "credit" + row[i];
            var debitId = "debit" + row[i];
            var creditTemp = parseInt(document.getElementById(creditId).value);
            if (!isNaN(creditTemp)) {
                credit = credit + creditTemp;
                $("#TotalCredit").val(credit);
            }


            var debitTemp = parseInt(document.getElementById(debitId).value);
            if (!isNaN(debitTemp)) {
                debit = debit + debitTemp;
                $("#TotalDebit").val(debit);
            }
        }
        var C = $("#TotalCredit").val();
        var D = $("#TotalDebit").val();

        $("#remaining").html(D - C);

        if (credit == debit) {
            $("#Submit1").attr("disabled", false);
            $("#Submit2").attr("disabled", false);
        } else {
            $("#Submit1").attr("disabled", true);
            $("#Submit2").attr("disabled", true);
        }
    }


    function Codedescription(code, codeId) {
        var TypeId = "type" + codeId[codeId.length - 1];
        $.post("/AspNetFinanceVouchers/codeDescription", { "code": code })
                .done(function (data) {
                    document.getElementById(TypeId).value = data.type;
                });
    }

    function CheckVoucherNo(VoucherType) {
        //var VoucherType = $("#VoucherType").val();
        //alert(VoucherType);
        $.ajax({
            type: "POST",
            url: "/AspNetFinanceVouchers/FindVoucherNo",
            data: { 'type': VoucherType, },
            success: function (data) {
                $("#VoucherNo").val(data);
            }
        });
    }

    var VoucherDetail =
        {
            Type: '',
            Code: '',
            Transaction: '',
            Credit: '',
            Debit: ''
        };

    var Voucher = {
        Status: '',
        VoucherNo: '',
        VoucherType: '',
        VoucherDescription: '',
        Time: '',
        VoucherDetail: []
    }

    Vouchers = [];

    function SaveVoucher(option) {



        Voucher = Object.create(Voucher);

        if ($("#post").prop("checked") == true) {
            Voucher.Status = "Posted";
        }
        else if ($("#post").prop("checked") == false) {
            Voucher.Status = "Not Posted";
        }

        Voucher.VoucherNo = $('#VoucherNo').val();
        Voucher.VoucherType = $('#VoucherType').val();
        Voucher.Time = $('#Time').val();
        Voucher.VoucherDescription = $('#VoucherDescription').val();
        Voucher.VoucherDetail = [];

        if ( Voucher.VoucherType != "" && Voucher.VoucherType != null) {
            $("#Submit1").attr("disabled", true);
            $("#Submit2").attr("disabled", true);
            for (var i in row) {
                if (row[i] == null)
                    continue;
                VoucherDetail = Object.create(VoucherDetail);

                //var type = "type" + row[i];
                //VoucherDetail.Type = document.getElementById(type).value;
                var code = "code" + row[i];
                VoucherDetail.Code = document.getElementById(code).value;
                var transaction = "transaction" + row[i];
                VoucherDetail.Transaction = document.getElementById(transaction).value;
                var credit = "credit" + row[i];
                VoucherDetail.Credit = document.getElementById(credit).value;
                var debit = "debit" + row[i];
                VoucherDetail.Debit = document.getElementById(debit).value;
                Voucher.VoucherDetail.push(VoucherDetail);
            }
            Vouchers = JSON.stringify({ 'Vouchers': Voucher });


            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/AspNetFinanceVouchers/AddVoucher',
                data: Vouchers,
                success: function (data) {
                    if (option == 'one') {
                        window.location.href = "SaveIndex";
                    } else {
                        window.location.href = "";
                    }

                }
            });
        } else {
            $("#myErrorModal").modal('show');
        }



    }

    function redirect() {
        window.location.href = "Index";
    }

    function redirect1() {
        window.location.href = "CreateVoucher";
    }

    function deleteRow(Row) {
        id = "#" + Row.id;
        $(id).remove();

        var index = parseInt(Row.id);

        row[index] = null;

    }

    function addrow() {
        $("#addR").click();
    }
</script>

<label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#" class="sidebar-toggle navigate" data-toggle="offcanvas" style="background-color:#F7F7F7 !important">Accounts Management </a> > @Html.ActionLink("Voucher", "Index", "AspNetFinanceVouchers") > <a href="#"><b>Create</b></a> </label>
<h4>Finance Voucher</h4>

<div class="row">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Add a New Voucher</a></li>
                <li><a href="#tab_2" data-toggle="tab">Upload Excel File</a></li>
            </ul>
            <div class="tab-content" style="background-color: #ECF0F5; padding: 10px 0px 0px 0px;">
                <div class="tab-pane active" id="tab_1">


                    @using (Html.BeginForm())
                    {
                    <div class="box box-primary">


                        @Html.AntiForgeryToken()

                        <div class="box-body">


                            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                            <div class="well voucher-bg">
                                <div class="row padding-bottom">
                                    <div class="col-md-2">
                                        <lable class="">Voucher Type<span class="red-mark">*</span></lable>
                                        <select id="VoucherType" onclick="CheckVoucherNo(this.value)" class="form-control">
                                            <option value="JV">JV</option>
                                            <option value="BPV">BPV</option>
                                            <option value="CPV">CPV</option>
                                            <option value="BRV">BRV</option>
                                            <option value="CRV">CRV</option>
                                            <option value="BPV PF">BPV PF</option>
                                            <option value="BRV PF">CRV</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 pull-right">
                                        <lable class="">Voucher No</lable>
                                        <div class="input-group">
                                            <span class="input-group-addon">#</span>
                                            <input id="VoucherNo" type="text" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row padding-bottom">

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <lable class="control-label">Date<span class="red-mark">*</span></lable>
                                            <input type="date" id="Time" class="form-control" value="@DateTime.Today" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row padding-bottom">
                                    <div class="col-md-6">
                                        <lable class="">Description</lable>
                                        <div class="">
                                            @*<input id="VoucherDescription" type="text" class="form-control" />*@
                                            <textarea id="VoucherDescription" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table id="Voucher-table" style="" cellpadding="1" cellspacing="1" width="100%" class="">
                                            <thead>
                                                <tr>
                                                    @*
                                                    <th>
                                                        Type
                                                    </th>*@
                                                    <th style="width:20%">
                                                        Code
                                                    </th>
                                                    <th style="width:35%">
                                                        Narration
                                                    </th>
                                                    <th style="width:20%">
                                                        Debit
                                                    </th>
                                                    <th style="width:20%">
                                                        Credit
                                                    </th>
                                                    <th style="width:5%">

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="0">
                                                    @*
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <input type="text" id="type0" class="form-control" disabled />
                                                            </div>
                                                        </div>
                                                    </td>*@
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <select id="code0" class="form-control code" onclick="Codedescription(this)"></select>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <input type="text" id="transaction0" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <input type="number" id="debit0" class="form-control" onblur="isEqual1()" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <input type="number" id="credit0" class="form-control" onblur="isEqual1()" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <input type="button" id="" value="+" class="form-control btn btn-primary" onclick="addrow()" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                @*<input type="button" id="0" value="&times;" class="form-control btn btn-danger" onclick="deleteRow(this)" />*@
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>

                                                <tr id="1">
                                                    @*
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <input type="text" id="type1" class="form-control" disabled />
                                                            </div>
                                                        </div>
                                                    </td>*@
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <select id="code1" class="form-control code" onclick="Codedescription(this)"></select>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <input type="text" id="transaction1" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <input type="number" id="debit1" class="form-control" onblur="isEqual1()" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <input type="number" id="credit1" class="form-control" onblur="isEqual1()" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <input type="button" id="" value="+" class="form-control btn btn-primary" onclick="addrow()" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="">
                                                                @*<input type="button" id="1" value="&times;" class="form-control btn btn-danger" onclick="deleteRow(this)" />*@
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" value="0" id="TotalDebit" class="form-control" disabled />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" value="0" id="TotalCredit" class="form-control" disabled />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="width: 36px;">
                                                            <span type="text" id="remaining" class="text-danger" disabled></span>
                                                        </div>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    @*<div class="row">
                                        <div class="col-md-10">
                                            <div class="col-md-offset-12">
                                                <span id="TotalCredit"></span>|<span id="TotalDebit"></span>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>


                                <div class="display-no">
                                    <input type="button" onclick="Addrow()" id="addR" value="Add Row" class="form-control" />
                                </div>
                                <div class="row">

                                    <div class="col-md-6 col-lg-6">
                                        <div class="col-md-3 pull-right">
                                            <input type="button" id="Submit1" disabled onclick="SaveVoucher('one')" value="Save" class="btn btn-primary form-control" />
                                        </div>

                                        <div class="col-md-6 pull-right">
                                            <input type="button" id="Submit2" disabled onclick="SaveVoucher('two')" value="Save & Create Another" class="btn btn-primary form-control" />
                                        </div>

                                        <div class="col-md-3 pull-right">
                                            <input type="button" onclick="redirect()" class="btn btn-default form-control" value="Cancel" />
                                        </div>

                                        <div class="col-md-3 pull-right" style="display:none">
                                            <label class="control-label"><input type="checkbox" id="post" value="post" checked /> Post voucher</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                </div>

                <div class="tab-pane" id="tab_2">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="orange">Upload Excel File &nbsp; <i class="fa fa-file-excel-o" aria-hidden="true"></i></h3>
                        </div>
                        <div class="form-three widget-shadow">
                            @using (Html.BeginForm("VoucherFromExcel", "AspNetFinanceVouchers", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                                @Html.AntiForgeryToken()
                                <div class="box-body">

                                    <div class="form-group">
                                        <div class="control-label col-md-3"><b>Excel File</b></div>
                                        <div class="col-md-4">
                                            <input id="excelfile" name="excelfile" type="file" />
                                            <span class="text-danger">@Html.Raw(TempData["Error"])</span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Submit" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


            @*@section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }*@

<script>
    function check(item) {

    }
</script>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Complete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="redirect()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Thanks. Voucher has been Saved
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="redirect()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Complete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="redirect1()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Thanks. Voucher has been Saved
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="redirect1()">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myErrorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-danger">
                The * fields are required
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

