@model SEA_Application.Models.AspNetLessonPlan

@{
    ViewBag.Title = "Create_LessonPlan";
}

<script>
    $(document).ready(function () {


        @*$("#SubjectID").change(function () {
            var selectedSubject = $("#SubjectID").val();
            console.log("subject here ", selectedSubject);
            $.get('@Url.Action("ChapterBySubject", "AspNetTopic")',
                { id: selectedSubject }, function (data) {

                    $('#ChapterID').html('');

                    $.each(data, function (i, item) {
                        $('#ChapterID').append('<option value=' + item.Id + '>' + item.ChapterName + '</option>');
                    });

                });
        });
        $("#ChapterID").change(function () {
            var selectedChapter = $("#ChapterID").val();
            $.get('@Url.Action("TopicsByChapter","Teacher_Dashboard")',
                { id: selectedChapter }, function (data) {

                    $('#TopicID').html('');

                    $.each(data, function (i, item) {
                        $('#TopicID').append('<option value=' + item.Id + '>' + item.TopicsName + '</option>');
                    });

                });
        });
    });*@


        $('#SubjectID').prop('disabled', true);
        $("#ClassID").click(function () {
            var selectedClass = $("#ClassID").val();
            console.log("class", selectedClass);
            ////document.cookie = "ClassCookie_ClassCurr=" + selectedClass + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
            SubjectsListByClass(selectedClass);
        });
        $("#SubjectID").click(function () {
            var selectedSubject = $("#SubjectID").val();
            console.log("class", selectedSubject);
            //document.cookie = "SubjectsCookie_ClassCurr=" + selectedSubject + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
            ChaptersBySub(selectedSubject);

        });
        $("#ChapterID").click(function () {
            var selectedChapter = $("#ChapterID").val();
            console.log("class", selectedChapter);
            //document.cookie = "SubjectsCookie_ClassCurr=" + selectedChapter + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
            TopicsByChapter(selectedChapter);

        });
        $("#TopicID").click(function () {
            var selectedTopic = $("#TopicID").val();
            console.log("class", selectedTopic);
            ////document.cookie = "SubjectsCookie_ClassCurr=" + selectedTopic + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
            LessonPlansByTopic(selectedTopic);

        });




        var lessonPlanId;
        function LessonPlanByTopic(topicid) {
            $.get('@Url.Action("LessonByTopic")',
                { id: topicid }, function (data) {
                    $.each(data, function (i, item) {
                        lessonPlanId = item.Id;
                    });


                });
        }

        function SubjectsListByClass(ClassID) {
            $.get('@Url.Action("SubjectsByClass","Teacher_Dashboard")',
                { id: ClassID }, function (data) {
                    $('#SubjectID').html('');
                    $('#SubjectID').prop('disabled', false);
                    $.each(data, function (i, item) {
                        $('#SubjectID').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                    });

                });
        }




        function ChaptersBySub(subID) {
            $.get('@Url.Action("ChapterBySubject", "AspNetTopic")',
                { id: subID }, function (data) {
                    $('#ChapterID').html('');
                    $('#ChapterID').prop('disabled', false);
                    $.each(data, function (i, item) {
                        //(item);
                        $('#ChapterID').append('<option value=' + item.Id + '>' + item.ChapterName + '</option>');
                    });

                });
        }


        function TopicsByChapter(subID) {
            $.get('@Url.Action("TopicsByChapter", "Teacher_Dashboard")',
                { id: subID }, function (data) {
                    //(subID);
                    $('#TopicID').html('');
                    $('#TopicID').prop('disabled', false);
                    $.each(data, function (i, item) {
                        //(item);
                        $('#TopicID').append('<option value=' + item.Id + '>' + item.TopicName + '</option>');
                    });

                });
        }
    });
</script>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AspNetLessonPlan</h4>
        <hr />
        @*/////////////////////////////////////////////////////////////////////////////////////////////////////////*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <lable class="control-label col-md-3"><b>Class</b></lable>
            <div class="col-md-8">
                @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            <br />
            <lable class="col-md-3 control-label"><b>Select Subject</b></lable>
            <div class="col-md-8">
                @Html.DropDownList("SubjectID", null, htmlAttributes: new { @class = "form-control" })
                @*<select class="form-control" id="SubjectID" name="subjects"></select>*@
            </div>
        </div>
        <div class="form-group">
            <br />
            <lable class="col-md-3 control-label"><b>Select Chapter</b></lable>
            <div class="col-md-8">
                <select class="form-control" id="ChapterID" name="chapters"></select>
            </div>
        </div>


        @*/////////////////////////////////////////////////////////////////////////////////////////////////////////*@
        <div class="form-group">
            <br />
            <lable class="col-md-3 control-label"><b>Lesson Plan Name</b></lable>
            <div class="col-md-8">
                @Html.EditorFor(model => model.LessonPlanName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LessonPlanName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <br />
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <br />
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <br />
            <label class="control-label col-md-3">Topics</label>
            <div class="col-md-8">
                <select multiple class="form-control" id="TopicID" name="TopicID"></select>
            </div>
        </div>

        <div class="form-group">
            <br />
            <div class="col-md-offset-3 col-md-8">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

