@model IEnumerable<SEA_Application.Models.AspNetSalaryDetail>

@*@{
    ViewBag.Title = "Index";
}*@
<label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#" class="sidebar-toggle navigate" data-toggle="offcanvas" style="background-color:#F7F7F7 !important">User</a> > @Html.ActionLink("Salaries", "Index", "AspNetSalaries") > <a href="#"><b>Detail</b></a> </label>


<script>
    $(document).ready(function () {
        $("#example").dataTable();
       
        $('.table').on('click', 'tbody tr', function () {
            var td = $(this).children("td");
            var userName = $(td[0]).children("input").val();
            userName = userName.trim();

            window.location.href = "/AspNetSalaryDetail/Details?id=" + userName;
        });

        DrawTable();
    });

    function DrawTable() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        //$('#example_filter').addClass("col-lg-4 col-md-4 col-sm-12 col-xs-12");
        $('#example_wrapper').css("text-align", "left");
        $('#example_length').css("text-align", "left");
        $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        $("#example_length label").css("text-align", "left");
        $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
        // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#2b2b2b !important" });
        //$('#example_length').css({ "overflow": "auto" });
        $('#example_filter input').addClass("add");
        $('#example_filter').append('<span class="glyphicon glyphicon-search form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        var list = $("#ClassID").html();
        $('#example_length').append(

            '<div class="col-md-1" style="width:0%; padding-left:1px;">' +
             '<div class="d-bar"></div>' +
            '</div>'
              +

           '<div class="col-md-4 col-lg-4" style="padding-left=0px">' +
           '<div class="col-md-1 col-sm-3 col-xs-3" style="padding-left:0px"><a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><span style="color:grey"><i class="glyphicon glyphicon-edit" data-placement="bottom"></i></span></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><span class="default"><span style="color:grey"><i class="fa fa-ban"  data-placement="bottom"></i></span></span>' + '</a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><span style="color:grey"><i class="glyphicon glyphicon-download-alt" data-placement="bottom"></i></span></span></a></div>' +
           ' <div class="col-md-1" style="width:0%; padding-left:10px;">' +
           '<div class="d-bar"></div>' +
           '</div>' +
          '</div>');
        $("#Class").prepend("<option value='0'>All</option>");
    }
</script>
@if (ViewBag.Error != null)
{
    <div class="box-alert" id="work">
        @ViewBag.Error
    </div>
}
<br />
<div>
    <h4> @ViewBag.Title</h4>
</div>

<div class="box box-primary">
    <div class="box-body">
        <table class="table table-bordered table-striped" id="example">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Basic Salary
                    </th>
                    <th>
                        Advance Salary
                    </th>
                    <th>
                        Medical Allowance
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tax)
                    </th>
                    <th>
                        Total Salary
                    </th>
                  
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetEmployee.Name)
                            <input type="hidden" value="@item.Id" />
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.BasicSalary)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.AdvanceSalary)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.MedicalAllowance)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.Tax)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.TotalSalary)
                        </td>

                    
                    </tr>
                }
            </tbody>
        </table>

        </div>
</div>