@model SEA_Application.Models.VoucherRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VoucherRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfterBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfterBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ledger.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ledger.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voucher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voucher.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
