@model IEnumerable<SEA_Application.Models.AspNetNote>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentDashboardLayout.cshtml";
}

<style>

    input[type=search] {
        border: 1px solid rgb(221, 221, 221);
        border-radius: 40px;
        height: 30px;
        outline: none;
        padding-left: 10px;
        color: rgb(221, 221, 221);
        margin-top: 0px;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Order to Cart</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to place this order?</p>

            </div>
            <div class="modal-footer">
                <button id="yesBtn" type="button" class="btn btn-default yesBtn" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>




<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" id="tab1" data-toggle="tab">Notes</a></li>
        <li><a href="#tab_2"  id="tab2"  data-toggle="tab">Cart</a></li>
        <li><a href="#tab_3" id="tab3" data-toggle="tab">Recent Order</a></li>
    </ul>
</div>

<div class="tab-content" style="    background-color: #f7f6f6;
        padding: 10px 0px 0px 0px; ">

    <p>
    </p>
    <div class="tab-pane active" id="tab_1">
        <div class="box box-primary">
            <div class="box-title"></div>
            <div class="box-body">
                <table class="table" id="example">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NotesType)
                            </th>
                            <th>
                                Price
                            </th>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.AspNetSubject.SubjectName)
                            </th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NotesType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GrandTotal)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.AspNetSubject.SubjectName)
                            </td>
                            <td>


                                <a href="/AspNetOrderNotes/Details/@item.EncryptedID">  <button type="button" class="btn btn-success" id="@item.Id">Add to Cart</button> </a>

                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>


    <div class="tab-pane" id="tab_2">
        <div class="box box-primary">
            <div class="box-title"></div>
            <div class="box-body">
                <table class="table" id="datatable">
                    <thead>
                        <tr>

                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Course Type
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                <input style="display:none" type="checkbox" id="checkBoxToAllChek" name="name" value="" />
                                Select
                            </th>

                        </tr>
                    </thead>



                    <tbody id="CartOrders">
                    </tbody>

                </table>
            </div>
        </div>
        <label style="font-size:15px;color:black">Total  <span id="TotalAmount"> 0.00</span> </label>

        <br />
        <button id="ConfirmOrder" disabled class="btn btn-success">Confirm Order</button>
        <button id="DeleteOrders" disabled class="btn btn-danger">Delete</button>
    </div>


    <div class="tab-pane" id="tab_3">
        <div class="box box-primary">
            <div class="box-title"></div>
            <div class="box-body">

                <table class="table" id="datatable1">
                    <thead>
                        <tr>
                            <th>
                                Order Id
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Course Type
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Status
                            </th>

                        </tr>

                    </thead>
                    <tbody id="RecentOrderTableBody">
                    </tbody>



                </table>

            </div>
        </div>
    </div>
</div>

@*<button id="confirmOrder" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Confirm Order</button>*@
<script>
    $(document).ready(function () {

      

        $('#example').dataTable({
        });

        var table;
        table = $('#datatable').dataTable();

        var table1;
        table1 = $('#datatable1').dataTable();

        $.ajax({

            type: "POST",
            url: "/AspNetOrderNotes/RecentOrders",
            data: {},
            success: function (data) {

                table1.fnClearTable();
                $.each(data, function (index) {

                    //    var TableRow = "<tr><td>" + data[index].Title + "</td> <td>" + data[index].Discription + "</td>  <td>" + data[index].CourseType + "</td> <td>" + data[index].Price + "</td>  <td>" + data[index].Quantity + "</td><td>" + data[index].Status + "</td> <td id='btnid'><button data-toggle='modal' data-target='#myModal' style='display:none'  class='CancelOrderBtn btn btn-danger' id='" + data[index].Id + "' >Cancel Order</button></td>    </tr> "

                    //                    table1.fnAddData(["<input class='checkboxes' id=" + data[index].Id + " type='checkbox' value=" + data[index].Total + "  >", data[index].Title, data[index].Discription, data[index].CourseType, data[index].Price, data[index].Quantity, data[index].Total, data[index].Status]);
                    table1.fnAddData([data[index].OrderId,data[index].Title, data[index].Discription, data[index].CourseType, data[index].Price, data[index].Quantity, data[index].Status]);

                    //$('#RecentOrderTableBody').append(TableRow);
                });


                table1.fnDraw();
                $('.eeniart0017').css("display", "none");

            }


        })


        $.ajax({

            type: "POST",
            url: "/AspNetOrderNotes/CartOrders",
            data: {},
            success: function (data) {


                table.fnClearTable();
                $.each(data, function (index) {

                    if (data[index].Status == "Draft") {

                        // var TableRow = "<tr>  <td> <input class='checkboxes' id=" + data[index].Id + "  type='checkbox' value=" + data[index].Total + "> </td>  <td>" + data[index].Title + "</td> <td>" + data[index].Discription + "</td>  <td>" + data[index].CourseType + "</td> <td>" + data[index].Price + "</td>  <td>" + data[index].Quantity + "</td> <td class='TotalPrice'>" + data[index].Total + "</td>  <td>" + data[index].Status + "</td>    </tr> "
                        table.fnAddData([data[index].Title, data[index].Discription, data[index].CourseType, data[index].Price, data[index].Quantity, data[index].Total, data[index].Status, "<input class='checkboxes' id=" + data[index].Id + " type='checkbox' value=" + data[index].Total + "  >"]);


                    }


                    //alert(data[index].Discription);
                    // $('#CartOrders').append(TableRow);
                });
                table.fnDraw();
                $('.eeniart0017').css("display", "none");
            }
        })//end of ajax card orders


        var Total = 0;
        var arr = [];
        var CheckAllCheckBoxes = 0;
        $("#CartOrders").on("click", "input[type='checkbox']", function () {
            debugger


            if ($(this).prop("checked") == true) {

                Total = Total + parseInt($(this).val());

                arr.push(parseInt($(this).attr('id')));

                CheckAllCheckBoxes = CheckAllCheckBoxes + 1;
                checkCheckBoxes();

            }
            else {

                Total = Total - parseInt($(this).val());
                var itemtoRemove = $(this).attr('id');

                arr.splice($.inArray(itemtoRemove, arr), 1);


                CheckAllCheckBoxes = CheckAllCheckBoxes - 1;

                checkCheckBoxes();

            }

            $("#TotalAmount").text(Total);
            //  alert(arr);
        });

        function checkCheckBoxes() {
            if (CheckAllCheckBoxes == 0) {

                $("#ConfirmOrder").attr("disabled", true);
                $("#DeleteOrders").attr("disabled", true);
            }
            else {
                $("#ConfirmOrder").attr("disabled", false);
                $("#DeleteOrders").attr("disabled", false);

            }
        }


        $("#DeleteOrders").click(function () {

            $.ajax({

                type: "POST",
                url: "/AspNetOrderNotes/DeleteOrders",
                data: { "DeleteOrders": arr },


                success: function (data) {
                  
                      //$("#tab2").trigger('click');
                    window.location.href = '/AspNetOrderNotes/Index/';


                    
                    // $('#example').dataTable().clear();

                    //   $('#example').data.reload();
                }

            })

        })


        $("#ConfirmOrder").click(function () {

            var TotalAmount = Total;

            $.ajax({

                type: "POST",
                url: "/AspNetOrderNotes/ConfirmOdr",
                data: { "TotalAmount": TotalAmount, "IDs": arr },
                success: function (data) {




                    window.location.href = '/AspNetOrderNotes/Index/';

                }

            })


        })

        $("#RecentOrderTableBody").on("click", "button", function () {

            //alert( $(this).attr('id'));

            var OdrId = $(this).attr('id');


            $(".yesBtn").attr('name', OdrId);

            //$.ajax({

            //    type: "POST",
            //    url: "/AspNetOrderNotes/CancelOrder",
            //    data: { "OrderId": OdrId },
            //    success: function (data) {


            //    }

            // });



        });

        $("#checkBoxToAllChek").click(function () {

            $('#CartOrders input[type="checkbox"]').prop('checked', this.checked);

        });


        $("#yesBtn").click(function () {

            //  alert( $("#yesBtn").attr('name'));

            var OdrId = $("#yesBtn").attr('name')



            $.ajax({

                type: "POST",
                url: "/AspNetOrderNotes/CancelOrder",
                data: { "OrderId": OdrId },
                success: function (data) {



                    // $('button[id="'+OdrId+'"]').prop('disabled', true);


                    window.location.href = '/AspNetOrderNotes/Index/';




                }

            });



        })

        function drawTable() {
            $('#example_filter').addClass("form-group");
            $('#example_filter').addClass("has-feedback");
            $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
            //$('#example_filter').css("col-lg-9 col-md-8 col-sm-12 col-xs-12");

            $('#example_wrapper').css("text-align", "left");
            $('#example_length').css("text-align", "left");
            $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
            $("#example_length label").css("text-align", "left");
            $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
            // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
            $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
            //$('#example_length').css({ "overflow": "auto" });
            $('#example_filter input').addClass("add");
            $('#example_filter').append('<span  class="glyphicon glyphicon-search  form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
            var list = $("#ClassID").html();
            $('#example_length').append(

                '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
                '<div class="d-bar"></div>' +
                '</div>'
                +




                '<div class="col-md-3 col-lg-3">' +
                '<div class="col-md-1 col-sm-3 col-xs-3" style="padding-left:0px"><a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a></div>' +
                '<div class="col-md-1 col-sm-3 col-xs-3"><a href="/Admin_Dashboard/StudentRegister"><i class="glyphicon glyphicon-edit" data-placement="bottom"></i></a></div>' +
                '<div class="col-md-1 col-sm-3 col-xs-3"><a href="/AspNetUser/DisableStudentIndex"><i class="fa fa-ban" data-placement="bottom"></i>' + '</a></div>' +
                '<div class="col-md-1 col-sm-3 col-xs-3"><a href=""><i onclick="download()"class="glyphicon glyphicon-download-alt" onclick="download()" data-placement="bottom"></i></a></div>' +
                '<div class="col-md-1" padding-left:0px;">' +
                '<div class="d-bar"></div>' +
                '</div>' +
                '</div>');
            //$("#Class").prepend("<option value='0'>Select One</option>");
        }





    })


</script>
