@model IEnumerable<SEA_Application.Models.AspNetEmployee>

@{
    ViewBag.Title = "DisabledEmployee";
}
<script>
    var table;
    var bgcolor;
    $(document).ready(function () {

        table = $("#example").dataTable();


        $('.table').on('mouseover', 'tbody tr', function () {
            bgcolor = $(this).css("background-color");
            $(this).css({ "background-color": "#DBEEF4", "color": "blue", "cursor": "pointer" });
        })

        $('.table').on('mouseout', 'tbody tr', function () {
            $(this).css({ "background-color": bgcolor, "color": "#222" });
        })

        $('.table').on('click', 'tbody tr', function () {
            var td = $(this).children("td");
            var userName = $(td[0]).children('input').val();
            userName = userName.trim();

            if ($(td).html() != "No data available in table")
                window.location.href = "EmployeeDetail?Id=" + userName;
        });

        DrawTable();
    });

    function DrawTable() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#ddd !important" });
        $('#example_filter').append('<span class="glyphicon glyphicon-search form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        $('#example_length').append(

            '<div class="form-inline" style="margin-left: 140px !important; margin-top: -25px !important; z-index: -3 !important">'
          + '&nbsp;&nbsp;&nbsp;&nbsp;' +
            '<div class="form-group">' +
                 '<div class="d-bar"></div>' +
             '</div>' +
             '&nbsp;&nbsp;&nbsp;&nbsp;' +
             '<div class="form-group">' +
                 '<div class="edit-section">' +
                     '<a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a>' +
                     '<a class="" href="/AspNetEmployees/Create" id="edit-view-3" data-toggle="tooltip" title="Create" data-placement="bottom">&nbsp;' +
                         '<i class="glyphicon glyphicon-edit"></i>' +
                     '</a>' +
                     '<a href="/AspNetEmployees/DisabledEmployee" id="edit-view-3" data-toggle="tooltip" title="Disable" data-placement="bottom"><i class="fa fa-ban"></i></a>&nbsp;' +
                     '<a href=""><i class="glyphicon glyphicon-download-alt"></i></a>&nbsp;' +
                 '</div>' +
             '</div>' +
             '<div class="form-group">' +
                 '<div class="d-bar"></div>' +
             '</div>' +
         '</div>');

    }
</script>


@if (ViewBag.Error != null)
{
    <div class="success" id="work" style="background-color:aquamarine">
        @ViewBag.Error
    </div>
}
<label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#" class="sidebar-toggle navigate" data-toggle="offcanvas" style="background-color:#F7F7F7 !important">User</a> > @Html.ActionLink("Employees", "Index", "AspNetEmployees") > <a href="#">Disabled</a></label>
<h2>Disabled Employee</h2>

<label id="View">View Default</label>


<div class="box box-primary">
    <div class="box-body">
        <br />
        <div class="col-md-12">
            <div class="form-three widget-shadow">
                <table class="table table-striped table-bordered" id="example">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                               User Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                Cell No
                            </th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                    <input type="hidden" value="@item.Id" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CellNo)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                <div id="Error"></div>
            </div>
        </div>
    </div>
</div>