@model SEA_Application.Models.AspNetFeeChallan

@{
    ViewBag.Title = "Edit";
}
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {


        $("#ClassID").prop('required', true);
        $("#title").prop('required', true);
        $("#DurationTypeID").prop('required', true);
        $("#startDate").prop('required', true);
        $("#startDate").prop('type', 'date');
        $("#endDate").prop('required', true);
        $("#endDate").prop('type', 'date');
        $("#amount").prop('required', true);
        $("#duedate").prop('required', true);
        $("#duedate").prop('type', 'date');
        $("#penalty").prop('required', true);
        $("#validdate").prop('required', true);
        $("#validdate").prop('type', 'date');


    });
</script>

<label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#" class="sidebar-toggle navigate" data-toggle="offcanvas" style="background-color:#F7F7F7 !important">Fee Management</a> > @Html.ActionLink("Challan Form", "Challan_Form", "FeeManagement") > <a href="#"><b>Edit</b></a> </label>
<h4>Edit</h4>

<script>
    function pad(n) { return n < 10 ? '0' + n : n }
    $(document).ready(function () {

        var selectedDuration = $("#DurationTypeID").val();
        var selectedClass = $("#ClassID").val();


        $("#amount").val(@Model.TotalAmount);
        var startDate = "@Model.StartDate";
        startDate = new Date(startDate);
        startDate = startDate.getFullYear() + "-" + pad(startDate.getMonth() + 1) + "-" + pad(startDate.getDate());
        $("#startDate").val(startDate);

        var endDate = "@Model.EndDate";
        endDate = new Date(endDate);
        endDate = endDate.getFullYear() + "-" + pad(endDate.getMonth() + 1) + "-" + pad(endDate.getDate());
        $("#endDate").val(endDate);


        var duedate = "@Model.DueDate";
        dueDate = new Date(duedate);
        dueDate = dueDate.getFullYear() + "-" + pad(dueDate.getMonth() + 1) + "-" + pad(dueDate.getDate());
        $("#duedate").val(dueDate);

        var validdate = "@Model.ValidDate";
        validdate = new Date(validdate);
        validdate = validdate.getFullYear() + "-" + pad(validdate.getMonth() + 1) + "-" + pad(validdate.getDate());
        $("#validdate").val(dueDate);

        $("#DurationTypeID").click(function () {
            var selectedDuration = $("#DurationTypeID").val();
            var selectedClass = $("#ClassID").val();
            $.get('@Url.Action("ChallanByDurationEdit", "AspNetFeeChallan")',
                { classId: selectedClass, durationId: selectedDuration }, function (data) {


                    $("#amount").val(data.amount);
                    var startDate = new Date(parseInt(data.startDate.replace(/(^.*\()|([+-].*$)/g, '')));
                    startDate = startDate.getFullYear() + "-" + pad(startDate.getMonth() + 1) + "-" + pad(startDate.getDate());
                    $("#startDate").val(startDate);

                    var endDate = new Date(parseInt(data.endDate.replace(/(^.*\()|([+-].*$)/g, '')));
                    endDate = endDate.getFullYear() + "-" + pad(endDate.getMonth() + 1) + "-" + pad(endDate.getDate());
                    $("#endDate").val(endDate);
                });
        });
    });
</script>


<div class="box box-primary">
    <div class="box-body">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Fee Challan</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <label class="control-label col-md-1"> Class</label>
                    <div class="col-md-6">
                        @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClassID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @id = "title" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-1"> Duration Type</label>
                    <div class="col-md-6">
                        @Html.DropDownList("DurationTypeID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DurationTypeID, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <label class="control-label col-md-1"> Start Date</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @id = "startDate" } })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-1"> End Date</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @id = "endDate" } })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-1"> Total Amount</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @id = "amount" } })
                        @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-1"> Due Date</label>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control", @id = "duedate" } })
                        @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Penalty, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Penalty, new { htmlAttributes = new { @class = "form-control", @id = "penalty" } })
                        @Html.ValidationMessageFor(model => model.Penalty, "", new { @class = "text-danger" })
                    </div>
                </div>

        <div class="form-group">
            <label class="control-label col-md-1"> Valid Date</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.ValidDate, new { htmlAttributes = new { @class = "form-control", @id = "validdate" } })
                @Html.ValidationMessageFor(model => model.ValidDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-lg-offset-1 col-md-6">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <button class="btn btn-default" onclick="redirect()">Cancel</button>
                </div>
            </div>
        </div>
       
    </div>
}


    </div>
</div>

<script>
    function redirect() {
        window.location.href = '/FeeManagement/Challan_Form';
    }
</script>