@model SEA_Application.Models.AspnetStudentAssignment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "AspnetStudentAssignments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AspnetStudentAssignment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LessonId, "LessonId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LessonId", null, "Select One", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LessonId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">

            <label class="control-label col-md-2"> Student Assigment</label>

            <div class="btn btn-default btn-file ">
                <i class="fa fa-paperclip"></i> Assignment:
                <input type="file" id="Assignment" name="Assignment">
            </div>
            <div class="col-md-offset-2 col-lg-offset-2">
                <p class="help-block">Max. 32MB</p>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <input type="date" name="DueDate" id="DueDate" value="" />

            @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })


        </div>
    </div>

    <br />



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
