@model SEA_Application.Models.AspNetAnnouncement_Subject

@{
    ViewBag.Title = "AnnouncementDetail";
}
<label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#" class="sidebar-toggle navigate" data-toggle="offcanvas" style="background-color:#F7F7F7 !important">User</a> > @Html.ActionLink("Announcement", "Student_Announcement", "Student_Dashboard") > <span class="text-primary"><b>Detail</b></span></label>

<h4>Announcement Detail</h4>
<div class="box box-primary">
    <div class="box body"> 
<div>
    <h4>Announcement_Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetAnnouncement.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetAnnouncement.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetAnnouncement.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetAnnouncement.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetSubject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetSubject.SubjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AspNetAnnouncement.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetAnnouncement.Date)
        </dd>

    </dl>
</div>

    </div>
</div>
