
@{
    ViewBag.Title = "GetQuestions";
    Layout = "~/Views/Shared/_StudentDashboardLayout.cshtml";
}

<script>

   
    $(document).ready(function () {
        
        var Quiz = {
            QuizId: '',
            OptionId: [],
            QuestionId: []
        }

        $('#Submit').click(function () {
            debugger;
            Quiz = Object.create(Quiz);

            var options = $('.Option');

            for (var i = 0; i < options.length; i++) {
                Quiz.OptionId[i] = $(options[i]).val();
                Quiz.QuestionId[i] = $(options[i]).attr("id");
            }
            
            Quiz.QuizId = $("#QuizId").val();

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/Student_Dashboard/submit_question',
                data: Quiz,
                success: function (data) {
                    alert (data);
                }
            });
                
            });
        });
</script>

<h2>Guidelines</h2>

<div class="box box-primary">
    <div class="box-body">
        <div class="col-md-12">
            <div class="form-three widget-shadow">
                <div>
                    <ul>
                        <li>one</li>
                        <li>two</li>
                        <li>three</li>
                        <li>four</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Questions</h2>
<input id="QuizId" class="hidden" type="text" value="@ViewBag.QuizId"/>

<div class="box box-primary">
    <div class="box-body">
        <div class="col-md-12">
            <div class="form-three widget-shadow">
                    <h4>MCQs Section</h4>
                    @foreach (var item in ViewBag.questionList_MCQS)
                    {
                        <span>@item.name</span>
                        
                        <input id="@item.id" class="Option hidden" type="text" value="" />

                        <ol>
                            @foreach (var item1 in item.options)
                            {
                                <li><input type="radio" class="col-md-1" name="@item.id" id="@item1.id" onchange="$('#' + @item.id).val(@item1.id)"/>@item1.name </li>
                            }
                        </ol>
                        <hr />
                    }
            </div>

            <div class="form-three widget-shadow">
                    <h4>Fill in Blanks Section</h4>
                    @foreach (var item in ViewBag.questionList_Fill)
                    {
                        <span>@item.name: <input type="text" id="@item.id" /></span>
                    }

            </div>
        </div>
        <button id="Submit" class="btn btn-success" >Submit Quiz</button>
    </div>
</div>



