@model IEnumerable<SEA_Application.Models.AssignmentViewModel>
  @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TeacherDashboardLayout.cshtml";
}

<br />
<h4 class="orange">&nbsp;View Assignments &nbsp;</h4>

<div class="box box-primary">
    <div class="box-title"></div>

    <div class="box-body">

     
        <table class="table" id="datatable">
            <thead>s

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NameOfStudent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Section)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Topic)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Lesson)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssignmnetDueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssignmentSubmittedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssignmentName)
                    </th>

                 
                </tr>

            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfStudent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lesson)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AssignmnetDueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignmentSubmittedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignmentName)
                    </td>


                </tr>
                }
            </tbody>


        </table>



    </div>
</div>

<script>

    $(document).ready(function () {

        
        $('#datatable').dataTable({
        });

    })

</script>