@model SEA_Application.Models.AspNetSubject

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/JS/Toggle.css" rel="stylesheet" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="~/Content/JS/Toggle.js"></script>
<script src="~/AdminLTE/selectone.js"></script>

<label>@Html.ActionLink("Home", "Dashboard", "Account") > @Html.ActionLink("Subject", "ClassIndex", "AspNetSubject") > <a href="#"><b>Create</b></a> </label>
<h4 class="orange">Add Subjects &nbsp;</h4>
<style>
    #CSSGroupDiv {
        display: none;
    }

    #PMSGroupDiv {
        display: none;
    }
</style>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {


        $("#SubjectName").prop('required', true);
        $("#ClassID").prop('required', true);
        $("#TeacherID").prop('required', true);

        $('#cancel').click(function () {
            window.location.href = '@Url.Action("ClassIndex", "AspNetSubject")';
        });

        $("#IsMandatory").change(function () {
              var CourseType =   $("#CourseType").val();
            if (this.checked) {

                //alert("Checkbox checked");
                  $("#CSSGroupDiv").css('display', 'none');
                $("#PMSGroupDiv").css('display', 'none');
                $("#CSSGroup").prop('required', false);
               $("#PMSGroup").prop('required',false);
            }
            else {
                // alert("checkbox is not checked ");
               // alert(CourseType);
                if (CourseType != "") {

                   if (CourseType == "CSS") {

                        $("#CSSGroupDiv").css('display', 'block');
                         $("#PMSGroupDiv").css('display', 'none');

                        $("#CSSGroup").prop('required',true);
                        $("#PMSGroup").prop('required',false);
                }
                      if (CourseType == "PMS") {

                        $("#PMSGroupDiv").css('display', 'block');
                        $("#CSSGroupDiv").css('display', 'none');
                         $("#PMSGroup").prop('required',true);
                        $("#CSSGroup").prop('required',false);

                    }

                }
                }




        })


        $("#CourseType").change(function () {
          var CourseType =   $(this).val();


            if (CourseType != "") {

                if ($("#IsMandatory").prop('checked') == false) {

                    if (CourseType == "CSS") {

                        $("#CSSGroupDiv").css('display', 'block');
                        $("#PMSGroupDiv").css('display', 'none');

                        $("#CSSGroup").prop('required', true);
                        $("#PMSGroup").prop('required', false);
                    }
                    else {

                        $("#PMSGroupDiv").css('display', 'block');
                        $("#CSSGroupDiv").css('display', 'none');
                        $("#PMSGroup").prop('required', true);
                        $("#CSSGroup").prop('required', false);

                    }

                }


            }
            else {

                $("#PMSGroupDiv").css('display', 'none');
                        $("#CSSGroupDiv").css('display', 'none');
                        $("#PMSGroup").prop('required', false);
                        $("#CSSGroup").prop('required', false);
            }




        })



        @*$.get('@Url.Action("TeachersbySession")',
           { id: 1 }, function (data) {
               debugger;
               $('#subjects').html('');

               $.each(data, function (i, item) {
                   debugger;
                   $('#subjects').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
               });

           });*@

        //$.ajax({
        //    url: "/AspNetUser/GetTeachersList",
        //    type: "Post",
        //    dataType: "json",
        //    success: function (response) {
        //        // alert(response);

        //        $.each(response, function (index) {
        //            //alert(response[index].Id+"  "+response[index].Name);
        //            $(".student_list").append('<li  class="list-group-item list_item_style" id="' + response[index].teacherid + '" > ' + response[index].Name + '  </li>');
        //        });
        //    },

        //    error: function () {


        //    }


        //})




    });


</script>


<div class="row">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Add Subject</a></li>
                <li><a href="#tab_2" data-toggle="tab">Upload Excel File</a></li>
            </ul>
            <div class="tab-content" style="background-color: #ECF0F5; padding: 10px 0px 0px 0px;">
                <div class="tab-pane active" id="tab_1">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h4 class="orange">Add A New Subject &nbsp;</h4>
                        </div>
                        <div class="form-three widget-shadow">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="box-body">
                                    <div class="froms form-horizontal">

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="SubjectName">Subject Name: <span class="red-mark">*</span></label>
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.SubjectName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.SubjectName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <label class="control-label col-md-2" for="ClassID">Class Name: <span class="red-mark">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ClassID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <label for="CourseType" class="col-md-2 col-lg-2 control-label">Course Type: <span class="red-mark">*</span></label>
                                            <div class="col-md-6">
                                                <select name="CourseType" id="CourseType" class="form-control" required>
                                                    <option value="CSS">CSS</option>
                                                    <option value="PMS">PMS</option>
                                                </select>
                                                <span id="Phone-Error" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="IsMandatory" class="col-md-2 col-lg-2 control-label"> Is Mandatory: <span class="red-mark">*</span></label>
                                            <div class="col-md-6">

                                                <input type="checkbox" style="width:30px;height:30px" checked id="IsMandatory" name="IsMandatory">
                                            </div>
                                        </div>

                                        <div class="form-group" id="CSSGroupDiv">
                                            <label for="Points" class="col-md-2 col-lg-2 control-label"> CSS Group: <span class="red-mark">*</span></label>
                                            <div class="col-md-6">
                                                <select name="CSSGroup" id="CSSGroup" class="form-control">
                                                    <option value="1">Group 1</option>
                                                    <option value="2">Group 2</option>
                                                    <option value="3">Group 3</option>
                                                    <option value="4">Group 4</option>
                                                    <option value="5">Group 5</option>
                                                    <option value="6">Group 6</option>
                                                    <option value="7">Group 7</option>
                                                </select>
                                                <span id="Phone-Error" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group" id="PMSGroupDiv">
                                            <label for="Points" class="col-md-2 col-lg-2 control-label"> PMS Group: <span class="red-mark">*</span></label>
                                            <div class="col-md-6">
                                                <select name="PMSGroup" id="PMSGroup" class="form-control">
                                                    <option value="1">Group 1</option>
                                                    <option value="2">Group 2</option>
                                                    <option value="3">Group 3</option>
                                                    <option value="4">Group 4</option>
                                                    <option value="5">Group 5</option>

                                                </select>
                                                <span id="Phone-Error" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Points" class="col-md-2 col-lg-2 control-label"> Marks: <span class="red-mark">*</span></label>
                                            <div class="col-md-6">
                                                <select name="Points" class="form-control" required>
                                                    <option value="100">100</option>
                                                    <option value="200">200</option>
                                                </select>
                                                <span id="Phone-Error" class="text-danger"></span>
                                            </div>
                                        </div>


                                        @*<div class="form-group">
                                            <label class="control-label col-md-2" for="TeacherID">Teacher Name: <span class="red-mark">*</span></label>
                                            <div class="col-md-6">
                                                @Html.DropDownList("TeacherID", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.TeacherID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                        @*<div class="form-group">
                                                <label class="control-label col-md-2" for="TeacherID">Teacher Name: <span class="red-mark">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("TotalTeachers", (MultiSelectList)ViewBag.Teachers, new { multiple = "multiple" })
                                                </div>
                                            </div>*@



                                        @*<div class="form-group">
                                                <label class="control-label col-md-2 col-lg-2">Teachers: <span class="red-mark">*</span></label>
                                                <div class="col-md-6">
                                                    <select multiple class="form-control" id="subjects" name="subjects" required></select>
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-2">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" id="cancel" class="btn btn-danger">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab_2">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="orange">Upload Excel File &nbsp; <i class="fa fa-file-excel-o" aria-hidden="true"></i></h3>
                        </div>
                        <div class="form-three widget-shadow">
                            @using (Html.BeginForm("SubjectfromFile", "AspNetSubject", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="box-body">

                                    <div class="form-group">
                                        <div class="control-label col-md-3"><b>Excel File</b></div>
                                        <div class="col-md-4">
                                            <input id="subjects" name="subjects" type="file" />
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Submit" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }



                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
