@model SEA_Application.Models.RegisterViewModel
@{
    ViewBag.Title = "Add Teacher:";
}

<script src="~/AdminLTE/selectone.js"></script>

<label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#" class="sidebar-toggle navigate" data-toggle="offcanvas" style="background-color:#F7F7F7 !important">User</a> > @Html.ActionLink("Teacher", "TeachersIndex", "AspNetUser") > <a href="#">Create</a></label>

<script>
    $(document).ready(function () {
        $('#GrossSalary').blur(function () {
            Basic_Salary();
            Medical_Allowance();
            Accomodationn();
        });

        var date = new Date();
        var dd = date.toISOString()
        dd = dd.split("T");

        $("#JoiningDate").val(dd[0]);
        $("#dateAvailable").val(dd[0]);

        $('#cancel').click(function () {
            redirect();
        });

        $("#UserName").bind('blur', function () {
            var userName = $("#UserName").val();

            $.ajax({
                type: "POST",
                url: "/AspNetUser/GetUserName",
                data: { "userName": userName },
                success: function (data) {
                    console.log(data);
                    if (data.count == 0) {
                        $('#FormSubmit').removeAttr('disabled');
                    }
                    else {
                        $('#UserName-Error').html("UserName Already taken by "+ data.by);
                        $('#FormSubmit').prop('disabled', true);
                    }

                }
            });

        });

        $("#Password").bind('blur', function () {
            var password = $("#Password").val();

            var patt = new RegExp("^(?=.{6,})(?=.*[a-z])(?=.*[0-9])(?=.*[A-Z])(?=.*[@@#$%^&+=]).*$");
            var test = patt.test(password);

            if (test == false) {
                $('#Password-Error').html("There should be one uppercase, one lowercase, one special chracter('@@#$%^&+=') and one number in password");
                $('#FormSubmit').prop('disabled', true);
            } else {
                $('#FormSubmit').prop('disabled', false);
            }

        });

        $("#Email").bind('blur', function () {
            var email = $("#Email").val();

            $.ajax({
                type: "POST",
                url: "/AspNetUser/Email",
                data: { "Email": email },
                success: function (data) {
                    console.log(data);
                    if (data == 0) {
                        $('#FormSubmit').prop('disabled', false);
                    }
                    else {
                        $('#Email-Error').html("Email Already taken");
                        $('#FormSubmit').prop('disabled', true);
                    }

                }
            });

        });

        $("#birthDate").bind('blur', function () {
            var dob = $("#birthDate").val();
            var dob = dob.split("-");
            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (dob[0] <= year) {
                $('#FormSubmit').prop('disabled', false);
                $('#DOB-Error').html(" ");
                if (dob[0] == year) {
                    if (dob[1] <= month) {
                        $('#FormSubmit').prop('disabled', false);
                        $('#DOB-Error').html(" ");
                        if (dob[1] == month) {
                            if (dob[2] < day) {
                                $('#FormSubmit').prop('disabled', false);
                                $('#DOB-Error').html(" ");
                            } else {
                                $('#FormSubmit').prop('disabled', true);
                                $('#DOB-Error').html("Enter a date less than today");
                            }
                        } else if (dob[1] > month) {
                            $('#FormSubmit').prop('disabled', true);
                            $('#DOB-Error').html("Enter a date less than today");
                        }
                    } else {
                        $('#FormSubmit').prop('disabled', true);
                        $('#DOB-Error').html("Enter a date less than today");
                    }
                }
            } else {
                $('#FormSubmit').prop('disabled', true);
                $('#DOB-Error').html("Enter a date less than today")
            }

        });

        $("#dateAvailable").bind('blur', function () {
            var dob = $("#dateAvailable").val();
            var dob = dob.split("-");

            var date = new Date();
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (dob[0] >= year) {
                $('#FormSubmit').prop('disabled', false);
                $('#Avail-Error').html(" ");
                if (dob[0] == year) {
                    if (dob[1] >= month) {
                        $('#FormSubmit').prop('disabled', false);
                        $('#Avail-Error').html(" ");
                        if (dob[1] == month) {
                            if (dob[2] >= day) {
                                $('#FormSubmit').prop('disabled', false); // ok
                                $('#Avail-Error').html(" ");
                            } else {
                                $('#FormSubmit').prop('disabled', true);
                                $('#Avail-Error').html("Enter a date greater than today");
                            }
                        } else if(dob[1] < month){
                            $('#FormSubmit').prop('disabled', true);
                            $('#Avail-Error').html("Enter a date greater than today");
                        }
                    } else {
                        $('#FormSubmit').prop('disabled', true);
                        $('#Avail-Error').html("Enter a date greater than today");
                    }
                }
            } else {
                $('#FormSubmit').prop('disabled', true);
                $('#Avail-Error').html("Enter a date greater than today");
            }

        });

        $("#JoiningDate").bind('blur', function () {
            var dob = $("#JoiningDate").val();
            var dob = dob.split("-");

            var date = new Date();
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (dob[0] >= year) {
                $('#FormSubmit').prop('disabled', false);
                $('#join-Error').html(" ");
                if (dob[0] == year) {
                    if (dob[1] >= month) {
                        $('#FormSubmit').prop('disabled', false);
                        $('#join-Error').html(" ");
                        if (dob[1] == month) {
                            if (dob[2] >= day) {
                                $('#FormSubmit').prop('disabled', false); // ok
                                $('#join-Error').html(" ");
                            } else {
                                $('#FormSubmit').prop('disabled', true);
                                $('#join-Error').html("Enter a date greater than today");
                            }
                        } else if (dob[1] < month) {
                            $('#FormSubmit').prop('disabled', true);
                            $('#join-Error').html("Enter a date greater than today");
                        }
                    } else {
                        $('#FormSubmit').prop('disabled', true);
                        $('#join-Error').html("Enter a date greater than today");
                    }
                }
            } else {
                $('#FormSubmit').prop('disabled', true);
                $('#join-Error').html("Enter a date greater than today");
            }
        });
    });

    function Basic_Salary() {
        var gross = $("#GrossSalary").val();
        var bs = (2 / 3) * gross;
        bs = parseInt(bs);
        document.getElementById("BasicSalary").value = gross;
    }

    function Medical_Allowance() {
        var basic = $("#BasicSalary").val();
        var ma = (10 / 100) * basic;
        ma = parseInt(ma);
        document.getElementById("MedicalAllowance").value = 0;
    }
    function Accomodationn() {
        var basic = $("#BasicSalary").val();
        var acc = (basic / 100) * 40;
        acc = parseInt(acc);
        document.getElementById("Accomodation").value = 0;

    }



    function redirect() {
        var url = '@Url.Action("TeachersIndex", "AspNetUser")';
        window.location.href = url;
    }

    //function SaveForm() {
    //    $("#FormSubmit").click();
    //}

     function checkPhone(phone) {
         var length = phone.value.length;

         if (length == 11) {
             var patt = new RegExp("^[0]+[0-9]{10,}$");
             var test = patt.test(phone.value);
             console.log(test);
             if (test == false) {
                 $('#Phone-Error').html("Phone number is not in correct formate");
                 $('#FormSubmit').prop('disabled', true);
             } else {
                 $('#FormSubmit').prop('disabled', false);
                 $('#Phone-Error').html(" ");
             }
         } else {
             $('#Phone-Error').html("Phone number is not in correct formate");
             $('#FormSubmit').prop('disabled', true);
         }
    }


     function onCancel() {
         $('#cancel').click();
     }
     function onSave() {
         $('#FormSubmit').click();
     }
</script>

<h4 class="orange">Add User</h4>
<div class="row" style="padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
    <button class="btn btn-default pull-left btn-sm" onclick="onCancel()">
        Cancel
    </button>
    <button class="pull-right" style="background-color: transparent; border: none; outline: none; font-size: 20px; color: rgb(89, 89, 89) !important" onclick="onSave()">
        <i class="fa fa-floppy-o"></i>
    </button>
</div>
@*<h2 class="orange">Add Teacher &nbsp; <i class="fa fa-file" aria-hidden="true"></i></h2>*@
<div class="row">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Add User</a></li>
                <li><a href="#tab_2" data-toggle="tab">Upload Excel File</a></li>
            </ul>

            <div class="tab-content" style="background-color:#ECF0F5; padding:10px 0px 0px 0px;">
                <div class="tab-pane active" id="tab_1">
                    <div class="form-three widget-shadow">
                        @using (Html.BeginForm("AddUser", "AspNetUser", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="box box-primary">

                                <div class="box-header with-border"><h3 class="orange">User Information<span class="red-mark">*</span></h3></div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label">Position Applied For:</label>
                                        <div class="col-md-6">
                                            <select name="appliedFor" class="form-control round-border" required>
                                                <option value="">-- select one --</option>
                                                <option value="Admin">Admin</option>
                                                <option value="Principal">Principal</option>
                                                <option value="Supervisor">Supervisor</option>
                                                
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label">Date Available: <span class="red-mark">*</span></label>
                                        <div class="col-md-6">
                                            <input type="date" class="form-control round-border" id="dateAvailable" name="dateAvailable" required />
                                            <span id="Avail-Error" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label">Joining Date: <span class="red-mark">*</span></label>
                                        <div class="col-md-6">
                                            <input type="date" class="form-control round-border" id="JoiningDate" name="JoiningDate" required />
                                            <span id="join-Error" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label" for="Name">Name: <span class="red-mark">*</span></label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control round-border" })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label" for="UserName">User Name: <span class="red-mark">*</span></label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control round-border" })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger", @id = "UserName-Error" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label" for="Password">Password: <span class="red-mark">*</span></label>
                                        <div class="col-md-6">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control round-border" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @id = "Password-Error" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label" for="Confirm Password">Confirm Password: <span class="red-mark">*</span></label>
                                        <div class="col-md-6">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control round-border" })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                </div>
                            </div>

                            <div class="box box-primary">
                                <div class="box-title"></div>

                                <div class="box-header with-border"><h3 class="orange">Personal Information<span class="red-mark">*</span></h3></div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="text-center">
                                                <label class="control-label">Birth Date (M/D/Y): <span class="red-mark">*</span></label>
                                                <input type="date" name="birthDate" id="birthDate" class="form-control round-border" required>
                                                <span id="DOB-Error" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="text-center">
                                                <label class="control-label">Nationality: <span class="red-mark">*</span></label>
                                                <select name="nationality" class="form-control round-border" required>
                                                    <option value="">-- select one --</option>
                                                    <option value="afghan">Afghan</option>
                                                    <option value="albanian">Albanian</option>
                                                    <option value="algerian">Algerian</option>
                                                    <option value="american">American</option>
                                                    <option value="andorran">Andorran</option>
                                                    <option value="angolan">Angolan</option>
                                                    <option value="antiguans">Antiguans</option>
                                                    <option value="argentinean">Argentinean</option>
                                                    <option value="armenian">Armenian</option>
                                                    <option value="australian">Australian</option>
                                                    <option value="austrian">Austrian</option>
                                                    <option value="azerbaijani">Azerbaijani</option>
                                                    <option value="bahamian">Bahamian</option>
                                                    <option value="bahraini">Bahraini</option>
                                                    <option value="bangladeshi">Bangladeshi</option>
                                                    <option value="barbadian">Barbadian</option>
                                                    <option value="barbudans">Barbudans</option>
                                                    <option value="batswana">Batswana</option>
                                                    <option value="belarusian">Belarusian</option>
                                                    <option value="belgian">Belgian</option>
                                                    <option value="belizean">Belizean</option>
                                                    <option value="beninese">Beninese</option>
                                                    <option value="bhutanese">Bhutanese</option>
                                                    <option value="bolivian">Bolivian</option>
                                                    <option value="bosnian">Bosnian</option>
                                                    <option value="brazilian">Brazilian</option>
                                                    <option value="british">British</option>
                                                    <option value="bruneian">Bruneian</option>
                                                    <option value="bulgarian">Bulgarian</option>
                                                    <option value="burkinabe">Burkinabe</option>
                                                    <option value="burmese">Burmese</option>
                                                    <option value="burundian">Burundian</option>
                                                    <option value="cambodian">Cambodian</option>
                                                    <option value="cameroonian">Cameroonian</option>
                                                    <option value="canadian">Canadian</option>
                                                    <option value="cape verdean">Cape Verdean</option>
                                                    <option value="central african">Central African</option>
                                                    <option value="chadian">Chadian</option>
                                                    <option value="chilean">Chilean</option>
                                                    <option value="chinese">Chinese</option>
                                                    <option value="colombian">Colombian</option>
                                                    <option value="comoran">Comoran</option>
                                                    <option value="congolese">Congolese</option>
                                                    <option value="costa rican">Costa Rican</option>
                                                    <option value="croatian">Croatian</option>
                                                    <option value="cuban">Cuban</option>
                                                    <option value="cypriot">Cypriot</option>
                                                    <option value="czech">Czech</option>
                                                    <option value="danish">Danish</option>
                                                    <option value="djibouti">Djibouti</option>
                                                    <option value="dominican">Dominican</option>
                                                    <option value="dutch">Dutch</option>
                                                    <option value="east timorese">East Timorese</option>
                                                    <option value="ecuadorean">Ecuadorean</option>
                                                    <option value="egyptian">Egyptian</option>
                                                    <option value="emirian">Emirian</option>
                                                    <option value="equatorial guinean">Equatorial Guinean</option>
                                                    <option value="eritrean">Eritrean</option>
                                                    <option value="estonian">Estonian</option>
                                                    <option value="ethiopian">Ethiopian</option>
                                                    <option value="fijian">Fijian</option>
                                                    <option value="filipino">Filipino</option>
                                                    <option value="finnish">Finnish</option>
                                                    <option value="french">French</option>
                                                    <option value="gabonese">Gabonese</option>
                                                    <option value="gambian">Gambian</option>
                                                    <option value="georgian">Georgian</option>
                                                    <option value="german">German</option>
                                                    <option value="ghanaian">Ghanaian</option>
                                                    <option value="greek">Greek</option>
                                                    <option value="grenadian">Grenadian</option>
                                                    <option value="guatemalan">Guatemalan</option>
                                                    <option value="guinea-bissauan">Guinea-Bissauan</option>
                                                    <option value="guinean">Guinean</option>
                                                    <option value="guyanese">Guyanese</option>
                                                    <option value="haitian">Haitian</option>
                                                    <option value="herzegovinian">Herzegovinian</option>
                                                    <option value="honduran">Honduran</option>
                                                    <option value="hungarian">Hungarian</option>
                                                    <option value="icelander">Icelander</option>
                                                    <option value="indian">Indian</option>
                                                    <option value="indonesian">Indonesian</option>
                                                    <option value="iranian">Iranian</option>
                                                    <option value="iraqi">Iraqi</option>
                                                    <option value="irish">Irish</option>
                                                    <option value="israeli">Israeli</option>
                                                    <option value="italian">Italian</option>
                                                    <option value="ivorian">Ivorian</option>
                                                    <option value="jamaican">Jamaican</option>
                                                    <option value="japanese">Japanese</option>
                                                    <option value="jordanian">Jordanian</option>
                                                    <option value="kazakhstani">Kazakhstani</option>
                                                    <option value="kenyan">Kenyan</option>
                                                    <option value="kittian and nevisian">Kittian and Nevisian</option>
                                                    <option value="kuwaiti">Kuwaiti</option>
                                                    <option value="kyrgyz">Kyrgyz</option>
                                                    <option value="laotian">Laotian</option>
                                                    <option value="latvian">Latvian</option>
                                                    <option value="lebanese">Lebanese</option>
                                                    <option value="liberian">Liberian</option>
                                                    <option value="libyan">Libyan</option>
                                                    <option value="liechtensteiner">Liechtensteiner</option>
                                                    <option value="lithuanian">Lithuanian</option>
                                                    <option value="luxembourger">Luxembourger</option>
                                                    <option value="macedonian">Macedonian</option>
                                                    <option value="malagasy">Malagasy</option>
                                                    <option value="malawian">Malawian</option>
                                                    <option value="malaysian">Malaysian</option>
                                                    <option value="maldivan">Maldivan</option>
                                                    <option value="malian">Malian</option>
                                                    <option value="maltese">Maltese</option>
                                                    <option value="marshallese">Marshallese</option>
                                                    <option value="mauritanian">Mauritanian</option>
                                                    <option value="mauritian">Mauritian</option>
                                                    <option value="mexican">Mexican</option>
                                                    <option value="micronesian">Micronesian</option>
                                                    <option value="moldovan">Moldovan</option>
                                                    <option value="monacan">Monacan</option>
                                                    <option value="mongolian">Mongolian</option>
                                                    <option value="moroccan">Moroccan</option>
                                                    <option value="mosotho">Mosotho</option>
                                                    <option value="motswana">Motswana</option>
                                                    <option value="mozambican">Mozambican</option>
                                                    <option value="namibian">Namibian</option>
                                                    <option value="nauruan">Nauruan</option>
                                                    <option value="nepalese">Nepalese</option>
                                                    <option value="new zealander">New Zealander</option>
                                                    <option value="ni-vanuatu">Ni-Vanuatu</option>
                                                    <option value="nicaraguan">Nicaraguan</option>
                                                    <option value="nigerien">Nigerien</option>
                                                    <option value="north korean">North Korean</option>
                                                    <option value="northern irish">Northern Irish</option>
                                                    <option value="norwegian">Norwegian</option>
                                                    <option value="omani">Omani</option>
                                                    <option value="pakistani">Pakistani</option>
                                                    <option value="palauan">Palauan</option>
                                                    <option value="panamanian">Panamanian</option>
                                                    <option value="papua new guinean">Papua New Guinean</option>
                                                    <option value="paraguayan">Paraguayan</option>
                                                    <option value="peruvian">Peruvian</option>
                                                    <option value="polish">Polish</option>
                                                    <option value="portuguese">Portuguese</option>
                                                    <option value="qatari">Qatari</option>
                                                    <option value="romanian">Romanian</option>
                                                    <option value="russian">Russian</option>
                                                    <option value="rwandan">Rwandan</option>
                                                    <option value="saint lucian">Saint Lucian</option>
                                                    <option value="salvadoran">Salvadoran</option>
                                                    <option value="samoan">Samoan</option>
                                                    <option value="san marinese">San Marinese</option>
                                                    <option value="sao tomean">Sao Tomean</option>
                                                    <option value="saudi">Saudi</option>
                                                    <option value="scottish">Scottish</option>
                                                    <option value="senegalese">Senegalese</option>
                                                    <option value="serbian">Serbian</option>
                                                    <option value="seychellois">Seychellois</option>
                                                    <option value="sierra leonean">Sierra Leonean</option>
                                                    <option value="singaporean">Singaporean</option>
                                                    <option value="slovakian">Slovakian</option>
                                                    <option value="slovenian">Slovenian</option>
                                                    <option value="solomon islander">Solomon Islander</option>
                                                    <option value="somali">Somali</option>
                                                    <option value="south african">South African</option>
                                                    <option value="south korean">South Korean</option>
                                                    <option value="spanish">Spanish</option>
                                                    <option value="sri lankan">Sri Lankan</option>
                                                    <option value="sudanese">Sudanese</option>
                                                    <option value="surinamer">Surinamer</option>
                                                    <option value="swazi">Swazi</option>
                                                    <option value="swedish">Swedish</option>
                                                    <option value="swiss">Swiss</option>
                                                    <option value="syrian">Syrian</option>
                                                    <option value="taiwanese">Taiwanese</option>
                                                    <option value="tajik">Tajik</option>
                                                    <option value="tanzanian">Tanzanian</option>
                                                    <option value="thai">Thai</option>
                                                    <option value="togolese">Togolese</option>
                                                    <option value="tongan">Tongan</option>
                                                    <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                                                    <option value="tunisian">Tunisian</option>
                                                    <option value="turkish">Turkish</option>
                                                    <option value="tuvaluan">Tuvaluan</option>
                                                    <option value="ugandan">Ugandan</option>
                                                    <option value="ukrainian">Ukrainian</option>
                                                    <option value="uruguayan">Uruguayan</option>
                                                    <option value="uzbekistani">Uzbekistani</option>
                                                    <option value="venezuelan">Venezuelan</option>
                                                    <option value="vietnamese">Vietnamese</option>
                                                    <option value="welsh">Welsh</option>
                                                    <option value="yemenite">Yemenite</option>
                                                    <option value="zambian">Zambian</option>
                                                    <option value="zimbabwean">Zimbabwean</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="text-center">
                                                <label>Religion: <span class="red-mark">*</span></label>
                                                <select name="religion" class="form-control round-border" required>
                                                    <option value="">-- select one --</option>
                                                    <option value="christian">Christian</option>
                                                    <option value="muslim">Muslim</option>
                                                    <option value="hindu">Hindu</option>
                                                    <option value="other">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="text-center">
                                                <label>Gender: <span class="red-mark">*</span></label>
                                                <select name="gender" class="form-control round-border" required>
                                                    <option value="">-- select one --</option>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="box box-primary">
                                <div class="box-header with-border"><h3 class="orange">Contact Detail<span class="red-mark">*</span></h3></div>
                                <div class="box-body">

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-md-1 col-lg-1 control-label">Mailing Address:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control round-border" id="inputEmail3" name="mailingAddress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label" for="Email">Email: <span class="red-mark">*</span></label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control round-border" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @id = "Email-Error" })
                                            <span id="" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-md-1 col-lg-1 control-label">Cell No.: <span class="red-mark">*</span></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control round-border" placeholder="03***********" id="inputEmail3" name="cellNo" onblur="checkPhone(this)" required>
                                            <span class="text-danger" id="Phone-Error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-md-1 col-lg-1 control-label">Land line No.:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control round-border" id="inputEmail3" name="landLine">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box box-primary">
                                <div class="box-header with-border"><h3 class="orange">Spouse Data (if applicable)</h3></div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-md-1 col-lg-1 control-label">Name of Spouse:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control round-border" id="inputEmail3" name="spouseName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-md-1 col-lg-1 control-label">Highest Degree:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control round-border" id="inputEmail3" name="spouseHighestDegree">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-md-1 col-lg-1 control-label">Occupation:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control round-border" id="inputEmail3" name="spouseOccupation">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-md-1 col-lg-1 control-label">Business Address:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control round-border" id="inputEmail3" name="spouseBusinessAddress">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box box-primary">
                                <div class="box-header with-border"><h3 class="orange">Salary Information<span class="red-mark">*</span></h3></div>
                                <div class="box-body">

                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label">Monthly Gross Salary: <span class="red-mark">*</span></label>
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <input type="number" name="GrossSalary" id="GrossSalary" style="text-align:right" class="form-control" required>
                                                <span class="input-group-addon"><b>Rs.</b></span>
                                            </div>

                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                            <label class="col-md-1 col-lg-1 control-label">Monthly Basic Salary:</label>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input type="number" name="BasicSalary" id="BasicSalary" style="text-align:right" class="form-control" readonly>
                                                    <span class="input-group-addon"><b>Rs.</b></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-1 col-lg-1 control-label">Monthly Medical Allowance:</label>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input type="number" name="MedicalAllowance" id="MedicalAllowance" style="text-align:right" class="form-control" readonly>
                                                    <span class="input-group-addon"><b>Rs.</b></span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-1 col-lg-1 control-label">Monthly Accomodation: <span class="red-mark">*</span></label>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input type="number" name="Accomodation" id="Accomodation" style="text-align:right" class="form-control" readonly>
                                                    <span class="input-group-addon"><b>Rs.</b></span>
                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label">Monthly Provided Fund: <span class="red-mark">*</span></label>
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <input type="number" name="ProvidedFund" style="text-align:right" class="form-control" required>
                                                <span class="input-group-addon"><b>Rs.</b></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label">Monthly Tax: <span class="red-mark">*</span></label>
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <input type="number" name="Tax" style="text-align:right" class="form-control" required>
                                                <span class="input-group-addon"><b>Rs.</b></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 col-lg-1 control-label">Monthly EOP: <span class="red-mark">*</span></label>
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <input type="number" name="EOP" style="text-align:right" class="form-control" required>
                                                <span class="input-group-addon"><b>Rs.</b></span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-lg-offset-1 col-md-2">
                                            <input type="submit" class="btn btn-primary" value="Register" id="FormSubmit" />
                                            <button type="button" id="cancel" class="btn btn-default" onclick="redirect()">Cancel</button>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>

                @*<div class="tab-pane" id="tab_2">
                    <div class="box box-primary">

                        <div class="box-header with-border"><h3 class="orange">Upload Excel File &nbsp; <i class="fa fa-file-excel-o" aria-hidden="true"></i></h3></div>
                        <div class="form-three widget-shadow">
                            @using (Html.BeginForm("TeacherfromFile", "Admin_Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="control-label col-md-3"><b>Excel File</b></div>
                                    <div class="col-md-4">
                                        <input id="teachers" required="required" name="teachers" type="file" />
                                    </div>
                                </div>
                                <br />
                                                    <br />
                                                    <div class="box-footer">
                                                        <div class="form-group">
                                                            <div class="col-md-10">
                                                                <input type="submit" value="Submit" class="btn btn-primary" />
                                                            </div>
                                                        </div>
                                                    </div>
                            }
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>

