@model SEA_Application.Models.AspnetQuiz

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AspnetQuiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Due_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Due_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
