@model IEnumerable<SEA_Application.Models.AspNetNote>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}



<link href="~/Content/print-receipt-thermal-printer-master/print-receipt-thermal-printer-master/style.css" media="screen" rel="stylesheet" />


<style>
    .page-header.navbar.navbar-fixed-top {
        padding-right: 0px;
    }

    .modal-content {
        position: relative;
        background-color: #fff;
        margin-top: 102px;
        background-clip: padding-box;
        border: 1px solid #999;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
        box-shadow: 0 3px 9px rgba(0,0,0,.5);
        outline: 0;
    }

    input[type=search] {
        border: 1px solid rgb(221, 221, 221);
        border-radius: 40px;
        height: 30px;
        outline: none;
        padding-left: 10px;
        color: rgb(221, 221, 221);
        margin-top: 0px;
    }

    element.style {
        padding: 10px 0px 0px 0px;
    }
</style>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Summary Details</h4>
            </div>
            <div class="modal-body" id="modal0">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#"><b>Notes</b></a> </label>

<h4 class="orange">View Notes </h4>


<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">Notes</a></li>
        <li><a href="#tab_2" data-toggle="tab">Orders</a></li>
    </ul>
</div>

<div class="tab-content" style="  background-color: #f7f6f6; padding: 10px 0px 0px 0px; ">

    <div class="tab-pane active" id="tab_1">
        <div class="box box-primary">
            <div class="box-title"></div>
            <div class="box-body">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table" id="example">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                Course Type
                            </th>
                            <th>
                                Subject Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NotesType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GrandTotal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OAPrice)
                            </th>

                            <th>
                                Creation Date
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AspNetSubject.SubjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotesType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrandTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OAPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit","Edit",  new { id = item.Id } ) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div><!--End of Tab 1-->

        </div>
    </div>
    <div class="tab-pane" id="tab_2">
        <div class="box box-primary">
            <div class="box-title"></div>
            <div class="box-body">
                <table class="table" id="datatable">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Student Name
                            </th>
                            <th>
                                Session Name
                            </th>
                            <th>
                                Total Amount
                            </th>
                            <th>
                                Status
                            </th>

                            <th>
                                OrderType
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>
                    </thead>
                    <tbody id="RecentOrderTableBody">
                    </tbody>
                </table>



                <div id="bill" style="margin-left:30px">

                    <div class="ticket" id="ticket">
                        <br>
                        <center>

                            <img src="~/Content/print-receipt-thermal-printer-master/print-receipt-thermal-printer-master/logo.PNG" />
                        </center>


                        <p class="centered">
                            Officer's Academy
                            <br><span id="OrderNo"></span>
                            <br><span id="DateTime"></span>
                        </p>


                        <br><b>Cashier:</b> SeaAdmin

                        <table>
                            <thead>
                                <tr>
                                    <th class="description">Title</th>

                                    <th class="quantity">Qty</th>
                                    <th class="price">Price</th>
                                    <th class="Amount">Total</th>

                                </tr>


                            </thead>
                            <tbody id="billbody" style="border: 1px solid black">
                            </tbody>
                        </table>
                        <p class="centered">
                            Thanks for your purchase!
                            <br>Developed by : TheRiskAdvisors
                        </p>
                    </div>

                </div>
                <input type="hidden" id="OrderType" />
                <button id="btnPrint" style="display:none;margin-left:30px;" class="hidden-print">Print</button>
            </div>
        </div>
    </div> <!--End of Tab 2-->
</div>
<script>

    $(document).ready(function () {

        // $('a[href="#tab_2"]').trigger('click');
        // var OrderType;

        $('#example').dataTable({
        });
        var table;
        table = $('#datatable').dataTable({
            aaSorting: [[0, 'desc']]

        });

        var clickedOrderId;
        $.ajax({
            type: "POST",
            url: "/AspNetNotes/RecentOrders",
            data: {},
            success: function (data) {
                table.fnClearTable();
                $.each(data, function (index) {
                    //var tablerow = '<tr>'
                    //    +'<td>' + data[index].Title + '</td> ' +
                    //    +'<td>' + data[index].Discription + '</td> ' +
                    //    +'<td>' + data[index].CourseType + '</td> ' +
                    //    +'<td>' + data[index].Price + '</td> ' +
                    //    +'<td>' + data[index].Quantity + '</td> '+
                    //    +'<td>' + data[index].Status + '</td> '+

                    //'</tr > ';
                    if (data[index].OrderStatus == "Paid") {

                        table.fnAddData([data[index].OrderID, data[index].StudentName, data[index].ClassName, data[index].TotalAmount, data[index].OrderStatus, data[index].OrderType, "<center><button  id='" + data[index].OrderID + "' name ='" + data[index].OrderType + "'   class='btn btn-success btn-sm approveBtn' disabled>Approve</button> <input type='button' class='btn btn-primary btn-sm ' value='Details' id='" + data[index].OrderID + "' data-toggle='modal' data-target='#myModal' ></center>"]);
                        // var TableRow = "<tr id='" + data[index].OrderID + "' data-toggle='modal' data-target='#myModal' >  <td>" + data[index].OrderID + "</td> <td >" + data[index].StudentName + "</td> <td >" + data[index].ClassName + "</td>  <td >" + data[index].TotalAmount + "</td>  <td >" + data[index].OrderStatus + "</td> <td><button  id='" + data[index].OrderID + "' class='btn btn-success btn-sm approveBtn' disabled>Approve</button></td></tr> "
                    }
                    else {
                        table.fnAddData([data[index].OrderID, data[index].StudentName, data[index].ClassName, data[index].TotalAmount, data[index].OrderStatus, data[index].OrderType, "<center><button  id='" + data[index].OrderID + "'  name ='" + data[index].OrderType + "' class='btn btn-success btn-sm approveBtn' >Approve</button> <input type='button' class='btn btn-primary btn-sm' value='Details' id='" + data[index].OrderID + "' data-toggle='modal' data-target='#myModal' > </center>"]);

                        // var TableRow = "<tr id='" + data[index].OrderID + "' data-toggle='modal' data-target='#myModal' > <td>" + data[index].OrderID + "</td> <td >" + data[index].StudentName + "</td> <td >" + data[index].ClassName + "</td>  <td >" + data[index].TotalAmount + "</td>  <td >" + data[index].OrderStatus + "</td> <td><button  id='" + data[index].OrderID + "' class='btn btn-success btn-sm approveBtn'>Approve</button></td></tr> "
                          }

                    //alert(data[index].Discription);
                    // $('#RecentOrderTableBody').append(TableRow);
                });
                table.fnDraw();

            }
        });

        $("#RecentOrderTableBody").on("click", "input[type='button']", function () {

            var OrderId = $(this).attr('id');
            // alert(OrderId);

            $.ajax({
                type: "POST",
                url: "/AspNetNotes/RecentOrdersDetails",
                data: { "OrderId": OrderId },

                success: function (data) {

                    $('#modal0').html("");

                    $.each(data, function (index) {
                        $('#modal0').append('<div > Title Name : ' + data[index].Title + ' </div>  <div> Price : ' + data[index].Price + ' </div> <div> Quantity : ' + data[index].Quantity + ' </div> <div> Total : ' + data[index].Total + ' </div>  <div> Total Photo Copier Price : ' + data[index].PhotoCopierPrice + '</div><div> Total OA Price : ' + data[index].OAPrice + '</div>  <br>  ');
                    });
                }
            })

        });

        $("#RecentOrderTableBody").on("click", ".approveBtn", function () {



            event.stopPropagation();
            var Total = 0.0;
            var OrderId = $(this).attr('id');
            //clickedOrderId = OrderId;

            $('#btnPrint').attr('name', OrderId);


            var OrderType = $(this).attr('name');

            $("#OrderType").val(OrderType);


            //alert(OrderType);
            $("#btnPrint").attr('class', OrderId);

            $.ajax({
                type: "POST",
                url: "/AspNetNotes/RecentOrdersDetails",
                data: { "OrderId": OrderId },

                success: function (data) {
                    $('#billbody').html("");


                    $.each(data, function (index) {
                        var TableRow = "<tr>  <td class='description'>" + data[index].Title + "</td> <td class='quantity' > &nbsp;&nbsp;&nbsp;&nbsp; " + data[index].Quantity + "</td> <td  class='price'>" + data[index].Price + "</td>  <td class='Amount' >&nbsp; " + data[index].Total + "</td>"
                        $('#billbody').append(TableRow);

                        Total = Total + data[index].Total;
                    });
                    var d = new Date($.now());

                    $("#DateTime").html(d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds());
                    $("#OrderNo").html('Order#' + OrderId);
                    $('#billbody').append("<tr>  <td style='word-break:break-all;' class='description'>Total</td>  <td class='quantity'>&nbsp; </td> <td class='price'></td> <td class='Amount'>&nbsp;&nbsp;" + Total + "</td> </tr>");
                    $("#bill").css('display', 'block');
                    $("#btnPrint").css('display', 'block');

                }//end of success function
            })

        })


    })

    $("#btnPrint").click(function () {

        var OrderId = $('#btnPrint').attr('name');
        var OrderType = $("#OrderType").val();
        // alert(OrderType);

        var mywindow = window.open('', '', '');
        mywindow.document.write('<html><head><title>' + document.title + '</title>  ');
        mywindow.document.write('<style>td,th,tr,table{border-top: 1px solid black;} td.description,th.description {width: 90px; max-width: 90px;word-break: break-word;}  td.quantity,th.quantity{ width: 40px;max-width: 40px;word-break: break-all;} td.Amount,th.Amount {  width: 60px;max-width: 60px;word-break: break-all;} td.Amount,th.Amount {  width: 60px;max-width: 60px;word-break: break-all;} .centered {text-align: center;align-content: center;} .ticket{width: 230px;max-width:230px;font-size: 12px}  img {  max-width: inherit;  width: inherit;} </style>');
        mywindow.document.write('</head><body >');
        // mywindow.document.write('<h1>' + document.title + '</h1>');
        mywindow.document.write(document.getElementById('bill').innerHTML);
        mywindow.document.write('</body></html>');
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();


        $.ajax({

            type: "POST",
            url: "/AspNetNotes/ApproveOrders",
            data: { "OrderId": OrderId, "OrderType": OrderType },
            success: function (data) {

                window.location.href = '/AspNetNotes/Index/';
            }

        })

        function drawTable() {
            $('#example_filter').addClass("form-group");
            $('#example_filter').addClass("has-feedback");
            $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
            //$('#example_filter').css("col-lg-9 col-md-8 col-sm-12 col-xs-12");

            $('#example_wrapper').css("text-align", "left");
            $('#example_length').css("text-align", "left");
            $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
            $("#example_length label").css("text-align", "left");
            $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
            // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
            $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
            //$('#example_length').css({ "overflow": "auto" });
            $('#example_filter input').addClass("add");
            $('#example_filter').append('<span  class="glyphicon glyphicon-search  form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
            var list = $("#ClassID").html();
            $('#example_length').append(

                '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
                '<div class="d-bar"></div>' +
                '</div>'
                +

                '<div class="col-md-3 col-lg-3">' +
                '<div class="col-md-1 col-sm-3 col-xs-3" style="padding-left:0px"><a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a></div>' +
                '<div class="col-md-1 col-sm-3 col-xs-3"><a href="/Admin_Dashboard/StudentRegister"><i class="glyphicon glyphicon-edit" data-placement="bottom"></i></a></div>' +
                '<div class="col-md-1 col-sm-3 col-xs-3"><a href="/AspNetUser/DisableStudentIndex"><i class="fa fa-ban" data-placement="bottom"></i>' + '</a></div>' +
                '<div class="col-md-1 col-sm-3 col-xs-3"><a href=""><i onclick="download()"class="glyphicon glyphicon-download-alt" onclick="download()" data-placement="bottom"></i></a></div>' +
                '<div class="col-md-1" padding-left:0px;">' +
                '<div class="d-bar"></div>' +
                '</div>' +
                '</div>');
            //$("#Class").prepend("<option value='0'>Select One</option>");
        }

        function DrawTable1() {
            $('#example_filter').addClass("form-group");
            $('#example_filter').addClass("has-feedback");
            $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
            //$('#example_filter').addClass("col-lg-4 col-md-4 col-sm-12 col-xs-12");
            $('#example_wrapper').css("text-align", "left");
            $('#example_length').css("text-align", "left");
            $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
            $("#example_length label").css("text-align", "left");
            $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
            // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
            $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#2b2b2b !important" });
            //$('#example_length').css({ "overflow": "auto" });
            $('#example_filter input').addClass("add");
            $('#example_filter').append('<span class="glyphicon glyphicon-search form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
            var list = $("#ClassID").html();
            $('#example_length').append(

                '<div class="col-md-1" style="width:0%; padding-left:1px;">' +
                '<div class="d-bar"></div>' +
                '</div>'
                +

                '<lable class="col-md-2 col-lg-2 col-sm-12 col-xs-12 control-label" style="text-align:left;margin-top:0px ;width:100px; padding-left:0px; padding-right:0px;">Select Class</lable>' +
                '<div class="col-md-2 col-lg-2">' +
                '<select class="form-control input-sm" id="Class" name="ClassID" style="margin-top:-4px" onclick="class_click(this)">' + list +
                '</select>' +
                '</div>' +

                '<div class="col-md-1" style="width:0%; padding-left:-10px;">' +
                '<div class="d-bar"></div>' +
                '</div>' +

                '<div class="col-md-4 col-lg-4" style="padding-left=0px">' +
                '<div class="col-md-1 col-sm-3 col-xs-3" style="padding-left:0px"><a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a></div>' +
                '<div class="col-md-1 col-sm-3 col-xs-3"><span style="color:grey"><i class="glyphicon glyphicon-edit" data-placement="bottom"></i></span></a></div>' +
                '<div class="col-md-1 col-sm-3 col-xs-3"><span style="color:grey"><i class="fa fa-ban"  data-placement="bottom"></i></span>' + '</a></div>' +
                '<div class="col-md-1 col-sm-3 col-xs-3"><span style="color:grey"><i class="glyphicon glyphicon-download-alt" data-placement="bottom"></i></a></div>' +
                ' <div class="col-md-1" style="width:0%; padding-left:10px;">' +
                '<div class="d-bar"></div>' +
                '</div>' +
                '</div>');
            //$("#Class").prepend("<option value='0'>All</option>");
        }

    })


</script>
