@model IEnumerable<SEA_Application.Models.AspNetNote>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}



    <link href="~/Content/print-receipt-thermal-printer-master/print-receipt-thermal-printer-master/style.css" media="screen" rel="stylesheet" />
    <link href="~/Content/print-receipt-thermal-printer-master/print-receipt-thermal-printer-master/style1.css" media="print" rel="stylesheet" />

<style>
    @@media print {

    td,
    th,
    tr,
    table {
        border-top: 1px solid black;
        border-collapse: collapse;
    }

        td.description,
        th.description {
            width: 75px;
            max-width: 75px;
        }

        td.quantity,
        th.quantity {
            width: 40px;
            max-width: 40px;
            word-break: break-all;
        }

        td.Amount,
        th.Amount {
            width: 40px;
            max-width: 40px;
            word-break: break-all;
        }


        td.price,
        th.price {
            width: 40px;
            max-width: 40px;
            word-break: break-all;
        }

    .centered {
        text-align: center;
        align-content: center;
    }

    .ticket {
        width: 175px;
        max-width: 175px;
        font-size: 12px;
        font-family: 'Times New Roman';
    }

    img {
        max-width: inherit;
        width: inherit;
    }

    #bill {
        display: none;
    }
}



</style>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Summary Details</h4>
            </div>
            <div class="modal-body" id="modal0">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">Notes</a></li>
        <li><a href="#tab_2" data-toggle="tab">Recent Order</a></li>
    </ul>
</div>

<div class="tab-content" style=" background-color: #ECF0F5; padding: 10px 0px 0px 0px; ">

    <div class="tab-pane active" id="tab_1">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AspNetSubject.SubjectName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetSubject.SubjectName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div><!--End of Tab 1-->


    <div class="tab-pane" id="tab_2">

        <table class="table">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    StudentName
                </th>
                <th>
                    ClassName
                </th>
                <th>
                    Total Amount
                </th>
                <th>
                    Status
                </th>

                <th>
                    Status
                </th>
            </tr>

            <tbody id="RecentOrderTableBody">
            </tbody>
        </table>

        <div id="bill">

            <div class="ticket" id="ticket" style="border:1px solid">
                <br>

                <img src="~/Content/print-receipt-thermal-printer-master/print-receipt-thermal-printer-master/logo.PNG" />


                <p class="centered">
                    Officer's Academy
                    <br><span id="OrderNo"></span>
                    <br><span id="DateTime"></span>
                </p>


                <br><b>Cashier:</b> SeaAdmin

                <table>
                    <thead>
                        <tr>
                            <th class="description">Title</th>

                            <th class="quantity">Qty</th>
                            <th class="price">Rate</th>
                            <th class="Amount">Amount</th>

                        </tr>


                    </thead>
                    <tbody id="billbody" style="border:1px solid black">
                    </tbody>
                </table>
                <p class="centered">
                    Thanks for your purchase!
                    <br>Developed by : TheRiskAdvisors
                </p>
            </div>




            <button id="btnPrint" class="hidden-print">Print</button>
        </div>

    </div> <!--End of Tab 2-->



</div>



<script>

    $(document).ready(function () {

        var clickedOrderId;
        $.ajax({
            type: "POST",
            url: "/AspNetNotes/RecentOrders",
            data: {},
            success: function (data) {
                $.each(data, function (index) {
                    //var tablerow = '<tr>'
                    //    +'<td>' + data[index].Title + '</td> ' +
                    //    +'<td>' + data[index].Discription + '</td> ' +
                    //    +'<td>' + data[index].CourseType + '</td> ' +
                    //    +'<td>' + data[index].Price + '</td> ' +
                    //    +'<td>' + data[index].Quantity + '</td> '+
                    //    +'<td>' + data[index].Status + '</td> '+

                    //'</tr > ';
                    if (data[index].OrderStatus == "Approved") {
                        var TableRow = "<tr id='" + data[index].OrderID + "' data-toggle='modal' data-target='#myModal' >  <td>" + data[index].OrderID + "</td> <td >" + data[index].StudentName + "</td> <td >" + data[index].ClassName + "</td>  <td >" + data[index].TotalAmount + "</td>  <td >" + data[index].OrderStatus + "</td> <td><button  id='" + data[index].OrderID + "' class='btn btn-success btn-sm approveBtn' disabled>Approve</button></td></tr> "
                    }
                    else {
                        var TableRow = "<tr id='" + data[index].OrderID + "' data-toggle='modal' data-target='#myModal' > <td>" + data[index].OrderID + "</td> <td >" + data[index].StudentName + "</td> <td >" + data[index].ClassName + "</td>  <td >" + data[index].TotalAmount + "</td>  <td >" + data[index].OrderStatus + "</td> <td><button  id='" + data[index].OrderID + "' class='btn btn-success btn-sm approveBtn'>Approve</button></td></tr> "
                    }

                    //alert(data[index].Discription);
                    $('#RecentOrderTableBody').append(TableRow);
                });

            }
        });

        $("#RecentOrderTableBody").on("click", "tr", function () {

            var OrderId = $(this).attr('id');
            // alert(OrderId);

            $.ajax({
                type: "POST",
                url: "/AspNetNotes/RecentOrdersDetails",
                data: { "OrderId": OrderId },

                success: function (data) {

                    $('#modal0').html("");

                    $.each(data, function (index) {
                        $('#modal0').append('<div> Title Name : ' + data[index].Title + ' </div>  <div> Price : ' + data[index].Price + ' </div> <div> Quantity : ' + data[index].Quantity + ' </div> <div> Total : ' + data[index].Total + ' </div> <br>  ');
                    });
                }
            })

        });




        $("#RecentOrderTableBody").on("click", ".approveBtn", function () {



            event.stopPropagation();
            var Total = 0.0;
            var OrderId = $(this).attr('id');
            //clickedOrderId = OrderId;

            $('#btnPrint').attr('name', OrderId);



            $("#btnPrint").attr('class', OrderId);

            $.ajax({
                type: "POST",
                url: "/AspNetNotes/RecentOrdersDetails",
                data: { "OrderId": OrderId },

                success: function (data) {
                    $('#billbody').html("");
                    $.each(data, function (index) {
                        var TableRow = "<tr>  <td class='description'>" + data[index].Title + "</td> <td class='quantity' >" + data[index].Quantity + "</td> <td  class='price'>" + data[index].Price + "</td>  <td class='Amount' >" + data[index].Total + "</td>"
                        $('#billbody').append(TableRow);

                        Total = Total + data[index].Total;
                    });
                    var d = new Date($.now());

                    $("#DateTime").html(d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds());
                    $("#OrderNo").html('Order#' + OrderId);
                    $('#billbody').append("<tr>  <td class='description'>Total</td>  <td class='quantity'></td> <td class='price'></td> <td class='Amount'>" + Total + "</td> </tr>");
                    $("#bill").css('display', 'block');


                }//end of success function
            })

        })


    })

    $("#btnPrint").click(function () {



       
        var OrderId = $('#btnPrint').attr('name');

        var mywindow = window.open('', '', '');
       

        mywindow.document.write('<html><head><title>' + document.title + '</title>  ');

        mywindow.document.write('<style>  td,th,tr,table{border-top: 1px solid black;} td.description,th.description {width: 75px;max-width: 75px;}  td.quantity,th.quantity{ width: 40px;max-width: 40px;word-break: break-all;} td.Amount,th.Amount {  width: 60px;max-width: 60px;word-break: break-all;} td.Amount,th.Amount {  width: 60px;max-width: 60px;word-break: break-all;} .centered {text-align: center;align-content: center;} .ticket{width: 210px;max-width: 210px;font-size: 12px}  img {  max-width: inherit;  width: inherit;} </style>');
        mywindow.document.write('</head><body >');
       // mywindow.document.write('<h1>' + document.title + '</h1>');
        mywindow.document.write(document.getElementById('bill').innerHTML);


       

        mywindow.document.write('</body></html>');
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();


        $.ajax({

            type: "POST",
            url: "/AspNetNotes/ApproveOrders",
            data: { "OrderId": OrderId },
            success: function (data) {

                window.location.href = '/AspNetNotes/Index/';
            }

        })





    })

</script>