@model SEA_Application.Models.AspNetAssessment

@{
    ViewBag.Title = "Create";
}

<script src="~/AdminLTE/selectone.js"></script>

<label>Home > User > <span class="text-primary">Create</span></label>
<h4>Create</h4>
<script>
    $(document).ready(function () {
        $('#cancel').click(function () {
            window.location.href = '@Url.Action("Dashboard", "Account")';
        });
        $("#ClassID").click(function () {
            var selectedClass = $("#ClassID").val();
            $.get('@Url.Action("SubjectsByClass", "Teacher_Dashboard")',
                { id: selectedClass }, function (data) {

                    $('#SubjectID').html('');

                    $.each(data, function (i, item) {
                        $('#SubjectID').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                    });

                });
        });
        $("#SubjectID").click(function () {
            var selectedSubject = $("#SubjectID").val();
            $.get('@Url.Action("CatalogBySubject", "AspNetAssessment")',
                { SubjectID: selectedSubject }, function (data) {

                    $('#Subject_CatalogID').html('');

                    $.each(data, function (i, item) {
                        $('#Subject_CatalogID').append('<option value=' + item.Id + '>' + item.CatalogName + '</option>');
                    });

                });
        });
    });
</script>

<div class="box box-primary">
@using (Html.BeginForm("Create", "AspNetAssessment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="box-body">

            <h4>AspNetAssessment</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <lable class="control-label col-md-2">Select Class</lable>
                <div class="col-md-10">
                    @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })

                </div>
            </div>
            <div class="form-group">
                <lable class="control-label col-md-2">Select Subject</lable>
                <div class="col-md-10">
                    @Html.DropDownList("SubjectID", null, htmlAttributes: new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Subject_CatalogID, "Subject_CatalogID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Subject_CatalogID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Subject_CatalogID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PublishDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PublishDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalMarks, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalMarks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalMarks, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Weightage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Weightage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Weightage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AcceptSubmission, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.AcceptSubmission)
                        @Html.ValidationMessageFor(model => model.AcceptSubmission, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="btn btn-default btn-file col-md-offset-2">
                    <i class="fa fa-paperclip"></i> Attachment
                    <input type="file" id="attachment" name="attachment">
                </div>
                <div class="col-md-offset-2">
                    <p class="help-block">Max. 32MB</p>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
