@model SEA_Application.Models.LedgerGroup

@{
    ViewBag.Title = "Edit";
}
<script>
    $(document).ready(function () {
        var name = $("#cash").val();
        if(name=="Cash" || name=="Bank")
        {
            $("#cash").attr("readonly", true);
            $("#headname").attr("readonly", true);
            $("#submit").prop("disabled", true);
        }
    })
</script>
<div class="col-md-8 col-md-offset-1" style="background-color:#f1f2e5;border-radius:10px;margin-top:50px;box-shadow: rgba(0, 0, 0, 0.16) 5px 10px 5px, rgba(0, 0, 0, 0.23) 0px 3px 5px">
   
    <h2>Edit</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Registerform" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Ledger Group</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control",@id="cash" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-2">Head Name</span>
                <div class="col-md-3">
                    @Html.DropDownList("LedgerHeadID", null, htmlAttributes: new { @class = "form-control",@id="headname" })
                    @Html.ValidationMessageFor(model => model.LedgerHeadID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">

                @Html.DropDownList("SessionId", null, htmlAttributes: new { @class = "form-control", @style = "display:none" })
                @Html.ValidationMessageFor(model => model.SessionId, "", new { @class = "text-danger" })
            </div>

          


        </div>
    }
    <div class="col-md-6">
        <br />
        <button class="col-md-2" onclick="window.location.href = '/ChartOfAccounts/ChartsOf_Accounts'" style="border-radius:35px;border:hidden;margin-right:10px;background-color:#128edb;color:white;font-size:11px;width:98px;height:38px;font-family:Montserrat" id="return"><i class="fa fa-arrow-left"></i> &nbsp;&nbsp; Return</button>
        <input class="col-md-2" id="submit" form="Registerform" type="submit" value="Save" style="border-radius:35px;color:white;border:hidden;background-color:#128edb;font-size:11px;width:98px;height:38px;font-family:Montserrat" />
      
          @if (ViewBag.ErrorMessage != null)
        {
              <div class="col-md-6" style="margin-top:10px">
                  <span class="text-danger">@ViewBag.ErrorMessage</span>

              </div>
        }
         <br />
        <br /><br />
    </div>
    </div>