@model SEA_Application.Models.EmployeePenalty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeePenalty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetEmployee.PositionAppliedFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetEmployee.PositionAppliedFor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeePenaltyType.PenaltyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeePenaltyType.PenaltyType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
