
<style>
    .bs-calltoaction {
        position: relative;
        width: auto;
        padding: 15px 25px;
        border: 1px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

        .bs-calltoaction > .row {
            display: table;
            width: calc(100% + 30px);
        }

            .bs-calltoaction > .row > [class^="col-"],
            .bs-calltoaction > .row > [class*=" col-"] {
                float: none;
                display: table-cell;
                vertical-align: middle;
            }

    .cta-contents {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .cta-title {
        margin: 0 auto 15px;
        padding: 0;
    }

    .cta-desc {
        padding: 0;
    }

        .cta-desc p:last-child {
            margin-bottom: 0;
        }

    .cta-button {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @@media (max-width: 991px) {
        .bs-calltoaction > .row {
            display: block;
            width: auto;
        }

            .bs-calltoaction > .row > [class^="col-"],
            .bs-calltoaction > .row > [class*=" col-"] {
                float: none;
                display: block;
                vertical-align: middle;
                position: relative;
            }

        .cta-contents {
            text-align: center;
        }
    }

    .bs-calltoaction.bs-calltoaction-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }


        .bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
        .bs-calltoaction.bs-calltoaction-info .cta-button .btn,
        .bs-calltoaction.bs-calltoaction-success .cta-button .btn,
        .bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
        .bs-calltoaction.bs-calltoaction-danger .cta-button .btn {
            border-color: #fff;
        }
</style>
<script>
    $(document).ready(function () {
        $("#ClassID").click(function () {
            var selectedClass = $("#ClassID").val();
            $.get('@Url.Action("SubjectsByClass", "Teacher_Dashboard")',
                { id: selectedClass }, function (data) {
                    console.log(data);
                    $('#SubjectID').html('');

                    $.each(data, function (i, item) {
                        $('#SubjectID').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                    });

                });
        });
        $("#SubjectID").click(function () {
            var selectedSubject = $("#SubjectID").val();
            $.get('@Url.Action("ProjectBySubject", "AspNetProject")',
                { subjectID: selectedSubject }, function (data) {

                    $('#project').html(' ');
                    $('#project-box').prop('hidden', false);
                    $.each(data, function (i, item) {
                        var html = '<div class="bs-calltoaction bs-calltoaction-primary">';
                        html += '<div class="row"><div class="col-md-9 cta-contents">'
                        html += '<h1 class="cta-title">' + item.Title + '</h1>';
                        html += '<div class="cta-desc">';
                        html += '<p>' + item.Description + '</p>';
                        html += '</div></div>';
                        html += '<div class="col-md-3 cta-button">';
                        html += '<a href="/AspNetProject/Details?id=' + item.Id + '" class="btn btn-lg btn-block btn-primary">Detail</a>';
                        html += '</div></div></div>';
                        $('#project').append(html);

                    });

                });
        });
    });
</script>

@if (User.IsInRole("Teacher"))
{
    <label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#"><b>Project</b></a></label>
}
else
{
    <label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#"><b>Project</b></a></label>
}

<h4>View Project</h4>

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <lable class="col-md-1 col-lg-1 control-label">Select Class</lable>
                    <div class="col-md-6">
                        @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <lable class="col-md-1 col-lg-1 control-label">Select Subject</lable>
                    <div class="col-md-6">
                        @Html.DropDownList("SubjectID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="box box-primary" id="project-box" hidden>
    <form class="form-horizontal">
        <div class="box-body" id="project">

        </div>
    </form>
</div>