@model IEnumerable<SEA_Application.Models.Employee_SalaryIncrement>

@{
    ViewBag.Title = "IncrementHistory";
}

<h2>Increment History</h2>

<style>
    #cre:hover {
        background-color: #128edb !important;
        color: #ffffff !important;
    }

    #refresh:hover {
        background-color: #21cd54 !important;
        color: #ffffff !important;
    }

    /*#example tr > :nth-child(1) {
        display: none;
    }*/

    .inc-btn {
        text-align: right;
        padding-bottom: 15px;
    }

    .btn-default {
        background-color: #f4f4f4;
        color: #444;
        border-color: #ddd;
    }
</style>
<script>
    $(document).ready(function () {
        table = $('#example').dataTable();
        $('.table').on('click', 'tbody tr', function () {
            debugger;
            var td = $(this).children("td");

         //   window.location.href = "/EmployeeSalaries/Edit?id=" + $(td[0]).html();
        });
        drawTable();
    })
    function Create() {
        window.location.href = "/EmployeeSalaries/Increment";
    }
    function Increment() {
        //  window.location.href = "/EmployeeSalaries/Increment";
        //    IncrementHistory
        window.location.href = "/EmployeeSalaries/IncrementHistory";
    }
    function Refresh() {
        window.location.href = "";
    }
    function drawTable() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        //$('#example_filter').css("col-lg-9 col-md-8 col-sm-12 col-xs-12");

        $('#example_wrapper').css("text-align", "left");
        $('#example_length').css("text-align", "left");
        $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        $("#example_length label").css("text-align", "left");
        $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
        // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "0px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
        //$('#example_length').css({ "overflow": "auto" });
        $('#example_filter input').addClass("add");
        $('#example_filter').append('<span class="glyphicon glyphicon-search  form-control-feedback" style="margin-top: -25px; color: #666;"></span>');
        var list = $("#ClassID").html();
        $('#example_length').append(

          '<div class="col-md-2 pull-right !important">' +
          '<input type="button" class="form-control" id="cre" onclick="Create()" value="Create" style="border-radius:45px;border-color:#128edb;color:#128edb;background-color:#ffffff" />' +
          '</div>' +

            '<div class="col-md-2 pull-right !important">' +
          '<input type="button" value="Refresh"  class="form-control" id="refresh" onclick="Refresh()" style="border-radius:45px;border-color:#21cd54;color:#21cd54;background-color:#ffffff" />' +
          '</div>'
        );
        $("#Class").prepend("<option value='0' selected>All</option>");
    }
</script>

<div class="box box-primary">
    <div class="box-body">
        <table class="table" id="example">
            <thead>
                <tr>
                    <th>
                       Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PreviousSalary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AfterSalary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IncrementAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeStamp)
                    </th>


                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee_SalaryRecord.AspNetEmployee.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreviousSalary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AfterSalary)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IncrementAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeStamp)
                        </td>

                    </tr>
                </tbody>
            }

        </table>
    </div>
</div>
