@model SEA_Application.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@if (this.User.IsInRole("Teacher"))
{
    Layout = "~/Views/Shared/_TeacherDashboardLayout.cshtml";
}
else if (this.User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
else if (this.User.IsInRole("Student"))
{
    Layout = "~/Views/Shared/_StudentDashboardLayout.cshtml";
}
else if (this.User.IsInRole("Accountant"))
{
    Layout = "~/Views/Shared/_AccountantDashboardLayout.cshtml";
}
else if (this.User.IsInRole("Parent"))
{
    Layout = "~/Views/Shared/_ParentDashboardLayout.cshtml";
}


<script>
    $(document).ready(function () {
        $("#NewPassword").bind('blur', function () {
            var password = $("#NewPassword").val();
            var patt = new RegExp("^(?=.{6,})(?=.*[a-z])(?=.*[0-9])(?=.*[A-Z])(?=.*[@@#$%^&+=]).*$");
            var test = patt.test(password);
            if (test == false) {
                $('#NewPassword-Error').html("There should be one uppercase, one lowercase, one special chracter('@@#$%^&+=') and one number in password");
                $('#FormSubmit').prop('disabled', true);
            } else {
                $('#FormSubmit').prop('disabled', false);
                $('#NewPassword-Error').html(" ");
            }

        });
    });
</script>

<label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#" class="sidebar-toggle" data-toggle="offcanvas"><span style="background-color:#F7F7F7 !important">User</span></a> > @Html.ActionLink("Profile", "Index", "Manage") > <b><a href="#">Change Password</a></b></label>

<h2>@ViewBag.Title.</h2>

<div class="box box-primary">
    <div class="box-body">

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Change Password Form</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    <span class="text-danger" id="NewPassword-Error"></span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" id="FormSubmit" value="Change password" class="btn btn-primary" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger" onclick="window.location.href='Index'">Cancel</button>
                </div>
            </div>
            
        }

    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@