@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@**@


<script>
    $(document).ready(function () {

       

        $(function () {
            $.get('@Url.Action("GetChildren","Parent_Dashboard")', function (data) {
                debugger;
                $('#ChildrenID').html('');
                $('#ChildrenID').prop('disabled', false);
                $.each(data, function (i, item) {
                $('#ChildrenID').append('<option value=' + item.Id + '>' + item.Name + '</option>');                   
                });
          
                var studentid = $('#ChildrenID').val();


                $.get('@Url.Action("GetChildID", "Parent_Dashboard")',{ studentID: studentid },
               function (data) {
                   debugger;
                   $("#ChildrenID").val(data);
               });                
            });
        });


        $("#ChildrenID").change(function () {
            debugger;
            var studentid = $('#ChildrenID').val();
            $.get('@Url.Action("SetChildID", "Parent_Dashboard")',
                { studentID: studentid }, function (data) {
                    location.reload();

                });
        });




    });
  
    </script>

<aside class="main-sidebar">
    <section class="sidebar">
        
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li id="left-sidebar-menu-calendar">
                <a href="@(Url.Action("Student_Announcement", "Parent_Dashboard"))">
                    <i class="fa fa-bullhorn"></i>
                    <span>Announcment</span>
                </a>
            </li>

            <li id="left-sidebar-menu-calendar">
                <a href="@(Url.Action("Student_Projects", "Parent_Dashboard"))">
                    <i class="glyphicon glyphicon-volume-up"></i>
                    <span>Project</span>
                </a>
            </li>

            <li id="left-sidebar-menu-calendar">
                <a href="@(Url.Action("Student_Attendance", "Parent_Dashboard"))">
                    <i class="fa fa-calendar"></i>
                    <span>Attendance</span>
                </a>
            </li>
            <li id="left-sidebar-menu-calendar">
                <a href="@(Url.Action("Student_HomeWork", "Parent_Dashboard"))">
                    <i class="fa fa-database"></i>
                    <span>Diary</span>
                </a>
            </li>

            @*<li id="left-sidebar-menu-calendar">
                <a href="@(Url.Action("GenerateInvoicePDF", "Parent_Dashboard"))">
                    <i class="fa fa-print"></i>
                    <span>Print Challan Form</span>
                </a>
            </li>*@
            <li id="left-sidebar-menu-calendar">
                <a href="@Url.Action("ParentTeacherMeeting", "Parent_Dashboard")">
                    <i class="fa fa-check"></i>
                    <span>PTM Evaluation</span>
                </a>
            </li>
            <li id="left-sidebar-menu-calendar">
                <a href="@Url.Action("StudentAssessment", "Parent_Dashboard")">
                    <i class="fa fa-list-ul"></i>
                    <span>Student Assessment</span>
                </a>
            </li>
            <li id="left-sidebar-menu-calendar">
                <a href="@(Url.Action("Inbox", "AspNetMessages"))">
                    <i class="fa fa-envelope"></i>
                    <span>MailBox</span>
                </a>
            </li>

            <li id="left-sidebar-menu-widgets">
                <a href="https://smartereduanalytics.on.spiceworks.com/portal/tickets">
                    <i class="fa fa-support"></i> <span style="color:#8aa4af !important">Support</span>
                </a>
            </li>

        </ul>
    </section>
</aside>
<div class="content-wrapper">

    <div style="background-color:white !important;">
        <div class="box-body">
            <form class="form-horizontal">
                <div class="box-body">

                    <div class="form-group">
                        <lable class="col-md-1 control-label"><b>Select Child</b></lable>
                        <div class="col-md-4">
                            <select class="form-control" id="ChildrenID"></select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <section class="content">

        
       
        @RenderBody()
    </section>
</div>
