@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Linq;
@using System.Net;
@using System.Web.Mvc;
@using SEA_Application.Models;
@using System.IO;
@using Microsoft.AspNet.Identity;
@{
    SEA_DatabaseEntities db = new SEA_DatabaseEntities();
    var CurrentUserId = User.Identity.GetUserId();

    int StudentId = db.AspNetStudents.Where(x => x.StudentID == CurrentUserId).FirstOrDefault().Id;

    var NotesFee = db.StudentFeeMonths.Where(x => x.StudentId == StudentId).FirstOrDefault().NotesFee;

}

    <style>

        .box.box-primary {
            border-top-color: #5170a3;
        }

        .page-container-bg-solid .page-content {
            background: #d0cfcf2e;
        }

        .page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 750px !important;
        }

         @@media (min-width: 992px) {
                .page-content-wrapper .page-content {
                    margin-left: 205px !important;
                }
            }

 </style>
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul id="layout_navbar_toogle" class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="1">
        @*Classes: start active open*@
        <li class="nav-item" id="Item39">
            <a href="@Url.Action("Dashboard", "Student_Dashboard")" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Home</span>
            </a>
        </li>

        <li class="nav-item  " id="Item40">
            <a href="@(Url.Action("View_Project", "Student_Dashboard"))">
                <i class="fa fa-calendar"></i>
                <span class="title">Course Topics/ Study Material</span>
            </a>
        </li>

        @*<li class="nav-item  ">
            <a href="@(Url.Action("Student_Announcement", "Student_Dashboard"))">
                <i class="fa fa-bullhorn"></i>
                <span class="title">Announcment</span>
            </a>
        </li>*@
        <li class="nav-item  " id="Item41">
            <a href="@(Url.Action("Index", "AspNetOrderNotes"))">
                <i class="fa fa-hand-o-right"></i>
                <span class="title">Order Notes</span>
            </a>
        </li>

        @if (NotesFee != null)
        {
            //your code

            <li class="nav-item  " id="Item42">
                <a href="@(Url.Action("PrepaidNotesIndex", "AspNetOrderNotes"))">
                    <i class="fa fa-hand-o-right"></i>
                    <span class="title">Prepaid Order Notes</span>
                </a>
            </li>
        }

        @*<li class="nav-item  " id="Item43">
            <a href="@(Url.Action("Index", "AspNetFeeDetail"))">
                <i class="fa fa-database"></i>
                <span class="title">Online Courses</span>
            </a>
        </li>*@


        <li class="nav-item  " id="MyCourses">
            <a href="@(Url.Action("Index", "StudentCourses"))">
                <i class="fa fa-list-ol"></i>
                <span class="title">My Courses</span>
            </a>
        </li>

        <li class="nav-item  " id="MyCourses">
            <a href="@(Url.Action("Quizes", "Student_Dashboard"))">
                <i class="fa fa-list-ol"></i>
                <span class="title">My Quizes</span>
            </a>
        </li>

        <li class="nav-item  " id="Item43">
            <a href="@(Url.Action("Index", "AspNetFeeDetail"))">
                <i class="fa fa-database"></i>
                <span class="title">Fee Detail</span>
            </a>
        </li>


        <li class="nav-item  " id="Item44">
            <a href="@(Url.Action("Student_Attendance", "Student_Dashboard"))">
                <i class="fa fa-list-ol"></i>
                <span class="title">Attendance</span>
            </a>
        </li>



        @*<li class="nav-item  ">
            <a href="@(Url.Action("Student_Dairy", "Student_Dashboard"))">
                <i class="fa fa-database"></i>
                <span class="title">Dairy</span>
            </a>
        </li>

        <li class="nav-item  ">
            <a href="@(Url.Action("StudentAssessment", "Student_Dashboard"))">
                <i class="fa fa-calendar"></i>
                <span class="title">Student Term Assessment</span>
            </a>
        </li>*@

        <li class="nav-item  " id="Item45">
            <a href="@(Url.Action("Inbox", "AspNetMessages"))">
                <i class="fa fa-envelope"></i>
                <span class="title">MailBox</span>
            </a>
        </li>

        <li class="nav-item  " id="Item46">
            <a href="https://smartereduanalytics.on.spiceworks.com/portal/tickets">
                <i class="fa fa-support"></i>
                <span class="title">Support</span>
            </a>
        </li>

    </ul>

    <!-- END SIDEBAR MENU -->
</div>

<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" id="StudentPageContentWrapper" >
    <!-- BEGIN CONTENT BODY -->
    <div id="page-content" class="page-content">

        @RenderBody()
    </div>
    <!-- END CONTENT BODY -->
</div>

<script>

    $(document).ready(function () {

        //$("#menu_toggler_sidebar_toggler").click(function () {

         
          
        //  var className = $("#layout_navbar_toogle").attr('class');

        //    if (className == "page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu") {

        //           document.getElementById("StudentPageContentWrapper").style.marginLeft = "0px";
              
        //    }
        //    else {
        //          document.getElementById("StudentPageContentWrapper").style.marginLeft = "10px";
        //    }
         
        //    })

    })

</script>