@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>



    @@media (min-width: 992px) {

        .page-content-wrapper .page-content {
            margin-left: 200px;
            margin-top: 0;
            min-height: 600px;
            padding: 25px 20px 10px;
        }
    }   

    li.nav-item.start.active.open {
        border-bottom: 0px solid white !important;
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu {
        margin-left: 190px;
        margin-top: -77px;
    }

    .page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 1500px !important;
    }

    .box.box-primary {
        border-top-color: #5170a3;
    }

    .page-container-bg-solid .page-content {
        background: #d0cfcf2e;
    }
</style>
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul id="layout_navbar_toogle" class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="1">

        <li class="nav-item" id="Item33" style="/* border-bottom: 4px solid white; */">
            @*start active open*@
            <a href="@Url.Action("Dashboard", "Teacher_Dashboard")" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Home</span>
            </a>
        </li>

        @*<li class="nav-item  ">
            <a href="@(Url.Action("View_LessonPlan", "AspNetLessonPlan"))">
                <i class="fa fa-graduation-cap"></i>
                <span class="title">LessonPlan</span>
            </a>
        </li>*@

        <li class="nav-item  " id="Item34">
            <a href="@(Url.Action("Index", "AspNetProject"))">
                <i class="fa fa-product-hunt"></i>
                <span class="title">Topics Course Study Material</span>
            </a>
        </li>

        @*<li class="nav-item  ">
            <a href="@(Url.Action("Index", "AspNetStudentPerformanceReport"))">
                <i class="fa fa-bullhorn"></i>
                <span class="title">Progress Report</span>
            </a>
        </li>*@


        <li class="nav-item" id="Item35">
            <a href="#" class="nav-link nav-toggle">
                <i class="fa fa-list-ul"></i>
                <span class="title">Subjects</span>
            </a>

            <ul class="sub-menu" style="z-index:10000">
                <li class="nav-item  ">
                    <a href="@(Url.Action("Teacher_Subject","Teacher_Dashboard"))">
                        <i class="fa fa-circle-o"></i>
                        <span class="title">View Subjects</span>
                    </a>
                </li>

                <li class="nav-item  ">
                    <a href="@(Url.Action("Topics", "Teacher_Dashboard"))">
                        <i class="fa fa-circle-o"></i>
                        <span class="title">Manage Topics</span>
                    </a>
                </li>
            </ul>
        </li>

        @*<li class="nav-item  ">
            <a href="@(Url.Action("Index", "AspNetHomeworks"))">
                <i class="fa fa-database"></i>
                <span class="title">Diary</span>
            </a>
        </li>*@

        <li class="nav-item  " id="Item36">
            <a href="@(Url.Action("View_Attendance", "Teacher_Dashboard"))">
                <i class="fa fa-clock-o"></i>
                <span class="title">Teacher Attendance</span>
            </a>
        </li>

        <li class="nav-item  " id="MyCoursesTeachers">
            <a href="@(Url.Action("Index", "TeacherCommentsOnCourses"))">
                <i class="fa fa-list-ol"></i>
                <span class="title">Courses</span>
            </a>
        </li>

        <li class="nav-item" id="StudentAssignment">
            <a href="@Url.Action("StudentAssignments", "StudentAssignmentSubmitted")" class="nav-link nav-toggle">
                <i class="fa fa-list-ul"></i>
                <span class="title">Student Assignments</span>
            </a>
        </li>


        <li class="nav-item" id="studenttopic">
            <a href="@Url.Action("Index", "AspnetSubjectTopics")" class="nav-link nav-toggle">
                <i class="fa fa-list-ul"></i>
                <span class="title">Topic</span>
            </a>
        </li>
        <li class="nav-item" id="studentlesson">
            <a href="@Url.Action("Index", "AspnetLessons")" class="nav-link nav-toggle">
                <i class="fa fa-leaf"></i>
                <span class="title">Lesson</span>
            </a>
        </li>


        <li class="nav-item" id="studentQuestionAnswer">
            <a href="@Url.Action("Index", "AspnetQuestions")" class="nav-link nav-toggle">
                <i class="fa fa-book"></i>
                <span class="title">Questions Answers</span>
            </a>
        </li>



        <li class="nav-item" id="studentQuiz">
            <a href="@Url.Action("Index", "AspnetQuizs")" class="nav-link nav-toggle">
                <i class="fa fa-pencil-square-o"></i>
                <span class="title">Quiz</span>
            </a>
        </li>



        <li class="nav-item" id="TopicAndLessonss">
            <a href="@Url.Action("ViewTopicsAndLessons", "AspnetSubjectTopics")" class="nav-link nav-toggle">
                <i class="fa fa-leaf"></i>
                <span class="title">Topic & Lessons</span>
            </a>
        </li>

        <li class="nav-item" id="QusetionAndQuiz">
            <a href="@Url.Action("ViewQuestionAndQuiz", "AspnetQuestions")" class="nav-link nav-toggle">
                <i class="fa fa-leaf"></i>
                <span class="title">Questions & Quiz</span>
            </a>
        </li>


        @*<li class="nav-item  ">
            <a href="@(Url.Action("Teacher_Announcement", "Teacher_Dashboard"))">
                <i class="fa fa-bullhorn"></i>
                <span class="title">Announcement</span>
            </a>
        </li>

        <li class="nav-item  ">
            <a href="@(Url.Action("Attendance", "Teacher_Dashboard"))">
                <i class="fa fa-list-ol"></i>
                <span class="title">Student Attendance</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="@(Url.Action("ParentTeacherMeeting", "Teacher_Dashboard"))">
                <i class="fa fa-users"></i>
                <span class="title">Parent Teacher Meeting</span>
            </a>
        </li>


        <li class="nav-item">
            <a href="#" class="nav-link nav-toggle">
                <i class="fa fa-book"></i>
                <span class="title">Assessment</span>
            </a>

            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="@(Url.Action("Subject_Assessment","Teacher_Dashboard"))">
                        <i class="fa fa-circle-o"></i>
                        <span class="title">Subject Assessment</span>
                    </a>
                </li>

                <li class="nav-item  ">
                    <a href="@(Url.Action("Class_Assessment", "Teacher_Dashboard"))">
                        <i class="fa fa-circle-o"></i>
                        <span class="title">Class Assessment</span>
                    </a>
                </li>
            </ul>
        </li>*@

        <li class="nav-item  " id="mailboxitem">
            <a href="@(Url.Action("Inbox", "AspNetMessages"))">
                <i class="fa fa-envelope"></i>
                <span class="title">MailBox</span>
            </a>
        </li>

        <li class="nav-item  " id="support">
            <a href="https://smartereduanalytics.on.spiceworks.com/portal/tickets">
                <i class="fa fa-support"></i>
                <span class="title">Support</span>
            </a>
        </li>

    </ul>

    <!-- END SIDEBAR MENU -->
</div>

<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div id="page-content" class="page-content">

        @RenderBody()
    </div>
    <!-- END CONTENT BODY -->
</div>