<script src="~/AdminLTE/selectone.js"></script>


<label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#" class="sidebar-toggle navigate" data-toggle="offcanvas" style="background-color:#F7F7F7 !important">Academics</a> > @Html.ActionLink("Assessment Questions", "Index", "AspNetAssessment_Question") > <a href="#"><b>Create</b></a> </label>
<h4>Create</h4>



@model SEA_Application.Models.AspNetAssessment_Question
@{
    ViewBag.Title = "Create";
    //TempData["Error"] = "";
}
<script>
    $(document).ready(function () {

        $("#ClassID").prop('required', true);
        $("#SubjectID").prop('required', true);
        $("#Question").prop('required', true);
        $("#QuestionCategory").prop('required', true);

        $("#ClassID").click(function () {
            var selectedClass = $("#ClassID").val();
            $.get('@Url.Action("SubjectsByClass", "AspNetAssessment_Question")',
                     { id: selectedClass }, function (data) {

                         //alert(JSON.stringify(data));
                         $('#SubjectID').html('');
                         $('#SubjectID').prop('disabled', false);
                         $.each(data, function (i, item) {
                             $('#SubjectID').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                         });

                     });

        });
    });

</script>
<div class="box box-primary">
    <div class="box-body">
        <h4>Create Assessment Question</h4>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <lable class="col-md-1 col-lg-1 control-label">Select Class:</lable>
                    <div class="col-md-6">
                        @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label col-md-1 col-lg-1">Select Subject:</lable>
                    <div class="col-md-6">
                        @Html.DropDownList("SubjectID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label col-md-1 col-lg-1">Question:</lable>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label col-md-1 col-lg-1">Question Catagory</lable>
                    <div class="col-md-6">
                        @Html.DropDownList("QuestionCategory", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.QuestionCategory, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2 col-lg-offset-1">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <button class="btn btn-default" onclick="redirect()">Cancel</button>
                    </div>
                </div>
            </div>
        }
        <br />
        <br />
        <div class="row">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Upload from excel file</button>
            <span class="text-danger">@Html.Raw(TempData["Error"])</span>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chose Excel file</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    @using (Html.BeginForm("Excel_Data", "AspNetAssessment_Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
                   {
                        <div class="modal-body">
                            <span>Excel file</span><input type="file" name="excelfile" />
                        </div>

                        <div class="modal-footer">
                            <input type="button" class="btn btn-primary" data-dismiss="modal" value="Close" />
                            <input type="submit" class="btn btn-primary" value="Import" />
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function redirect() {
        window.location.href = "Index";
    }
</script>