@model IEnumerable<SEA_Application.Models.AspNetAssessment_Question>
@{
            ViewBag.Title = "Index";
}

<script src="~/AdminLTE/selectone.js"></script>

<style>
    span{
        color:gray;
    }
</style>

<script>
    var table;
    $(document).ready(function () {
        table = $("#example").dataTable();

        AllQuestiones();

        $('.table').on('click', 'tbody tr', function () {
            var td = $(this).children("td");
            var userName = $(td[0]).children("input").val();
            userName = userName.trim();

            window.location.href = "/AspNetAssessment_Question/Details?id=" + userName;
        });

    });

    function class_click(item) {
        var selectedClass = $("#Class").val();
        if (selectedClass == 0) {
            $('#subjects').html('');
            $('#subjects').prop('disabled', true);
            AllQuestiones();
        } else {
            $.get('@Url.Action("SubjectsQuestionesByClass", "AspNetAssessment_Question")',
             { id: selectedClass }, function (data) {
                 $('#subjects').html('');
                 $('#subjects').prop('disabled', false);
                 $.each(data.Subjects, function (i, item) {
                     $('#subjects').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                 });

                 table.fnClearTable();
                 $.each(data.Questiones, function (i, item) {
                     table.fnAddData([item.Question + "<input type='hidden' value=" + item.Id + "> ", item.QuestionCatageory, item.Subjectname, item.ClassName]);
                 });
                 table.fnDraw();
             });
        }

    }

    function sub_click(item) {
        var selectedSubject = item.value;
        $.get('@Url.Action("QuestionBySubject", "AspNetAssessment_Question")',
             { id: selectedSubject }, function (data) {
                 table.fnClearTable();
                 $.each(data, function (i, item) {
                     table.fnAddData([item.Question + "<input type='hidden' value=" + item.Id + "> ", item.CategoryName, item.SubjectName, item.ClassName]);
                 });
                 table.fnDraw();
             });
    }

    function AllQuestiones() {
        $.get('@Url.Action("AllQuestiones", "AspNetAssessment_Question")',
                  function (data) {
                      table.fnClearTable();
                      $.each(data, function (i, item) {
                          table.fnAddData([item.Question + "<input type='hidden' value=" + item.Id + "> ", item.CategoryName, item.SubjectName, item.ClassName]);
                      });
                      table.fnDraw();
                  });
    }

    function DrawTable() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        //$('#example_filter').css("col-lg-9 col-md-8 col-sm-12 col-xs-12");

        $('#example_wrapper').css("text-align", "left");
        $('#example_length').css("text-align", "left");
        $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        $("#example_length label").css("text-align", "left");
        $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
        // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
        //$('#example_length').css({ "overflow": "auto" });
        $('#example_filter input').addClass("add");
        $('#example_filter').append('<span class="glyphicon glyphicon-search  form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        var list = $("#ClassID").html();
        $('#example_length').append(

            '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
            '<div class="d-bar"></div>' +
            '</div>'
              +
           '<div class="col-md-3 col-lg-3">' +
           '<div class="col-md-6" style="padding:0px; margin-top:4px">' +
           '<lable class="control-label">Select Class</lable>' +
           '</div>' +
           '<div class="col-md-6">' +
           '<select class="form-control input-sm" id="Class" name="ClassID" onclick="class_click(this)">' + list +
           '</select>' +
           '</div>' +
           '</div>' +
            '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
            '<div class="d-bar"></div>' +
            '</div>' +

           '<div class="col-md-3 col-lg-3">' +
           '<div class="col-md-6" style="padding:0px;  margin-top:4px">' +
           '<lable class="control-label">Select Subject</lable>' +
           '</div>' +
           '<div class="col-md-6">' +
           '<select class="form-control input-sm" id="subjects"  onclick="sub_click(this)" style="padding-top:-4px !important;" name="subjects" disabled><option>Select one</option></select>' +
           '</div>' +
           '</div>' +

            '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
            '<div class="d-bar"></div>' +
            '</div>' +

           '<div class="col-md-3 col-lg-3">' +
           '<div class="col-md-1 col-sm-3 col-xs-3" style="padding-left:0px"><a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a href="/AspNetAssessment_Question/Create"><i class="glyphicon glyphicon-edit" data-placement="bottom"></i></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a href=""><span style="color:grey"><i class="fa fa-ban" data-placement="bottom"></i></span>' + '</a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a href=""><span style="color:grey"><i class="glyphicon glyphicon-download-alt"  data-placement="bottom"></i></span></a></div>' +
           '<div class="col-md-1" padding-left:0px;">' +
           '<div class="d-bar"></div>' +
           '</div>' +
           '</div>');
        //$("#Class").prepend("<option value='0'>Select One</option>");
    }

     function DrawTable1() {

        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
        $('#example_filter').append('<span class="glyphicon glyphicon-search form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        $("#ClassID option[value='']").remove();
        $("#ClassID").prepend("<option value='0'>ALL</option>");

        var list = $("#ClassID").html();
        $('#example_length').append(

            '<div class="form-inline" style="margin-left: 140px !important; margin-top: -25px !important; z-index: -3 !important">'
          +
          '&nbsp;&nbsp;&nbsp;&nbsp;' +
          '<div class="form-group">' +
                 '<div class="d-bar"></div>' +
             '</div>' +
            '&nbsp;&nbsp;&nbsp;&nbsp;' +
            '<div class="form-group d-t-form">' +
                 '<label for="Class" class="d-t-label">Select Class&nbsp;</label>' +
            '<select class="form-control input-sm reg_name" id="Class" name="ClassID" onclick="class_click(this)">' +
                list +
        '</select>' +
        '&nbsp;&nbsp;&nbsp;&nbsp;' +
            '<div class="form-group">' +
                         '<div class="d-bar"></div>' +
                    '</div>' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;' +
                    '<div class="form-group d-t-form">' +
                         '<label for="firstname" class="d-t-label">Select Subject&nbsp;</label>' +
                         '<select class="form-control reg_name input-sm" id="subjects"  onclick="sub_click(this)" style="padding-top:-4px !important;" name="subjects" disabled><option>Select one</option></select>' +
                    '</div>&nbsp;&nbsp;&nbsp;&nbsp;' +
                    '<div class="form-group">' +
                         '<div class="d-bar"></div>' +
                    '</div>' +
                    '&nbsp;&nbsp;&nbsp;&nbsp;' +
             '<div class="form-group">' +
                 '<div class="edit-section">' +
                     '<a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom" ></i></a>' +
                     '<span>' +
                         '<i class="glyphicon glyphicon-edit"></i>' +
                     '</span>&nbsp;&nbsp;&nbsp;' +
                     '<span class="default"><i class="fa fa-ban"></i>&nbsp;&nbsp;&nbsp;</span>' +
                         '<span ><i class="glyphicon glyphicon-download-alt"></i></span>&nbsp;&nbsp;&nbsp;' +
                     '</div>' +
                 '</div>' +
             '</div>' +
             '<div class="form-group">' +
                 '<div class="d-bar"></div>' +
             '</div>' +
         '</div>');
        $("#Class option[value='0']").prop('selected', 'selected');

    }

    $("#SubjectID").click(function () {

    });
</script>


@if (User.IsInRole("Admin"))
{
    <script>
        $(document).ready(function () {
            DrawTable();
        })
    </script>
}
else
{
    <script>
        $(document).ready(function () {
            DrawTable1();
        })
    </script>
}


<label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#" class="sidebar-toggle navigate" data-toggle="offcanvas" style="background-color:#F7F7F7 !important">Academics</a> > <a href="#"><b>Term Assessment Questions</b></a></label>
<h4>View Assessment Question</h4>

<div class="box box-primary">
    <div class="box-body">
        <div class="form-group" style="margin-bottom: 50px; display:none">
            <label class="col-md-2 control-label">Select Class</label>
            <div class="col-md-6">
                @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group" style="display:none">
            <label class="col-md-2 control-label">Select Subject</label>
            <div class="col-md-6">
                @Html.DropDownList("SubjectID", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>



        <table class="table table-striped table-bordered" id="example">
            <thead>
                <tr>
                    <th>
                        Question
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Class
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
