@model IEnumerable<SEA_Application.Models.AspNetAnnouncement_Subject>


<script type="text/javascript">
    function DrawTable() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        //$('#example_filter').css("col-lg-9 col-md-8 col-sm-12 col-xs-12");

        $('#example_wrapper').css("text-align", "left");
        $('#example_length').css("text-align", "left");
        $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        $("#example_length label").css("text-align", "left");
        $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
        // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
        //$('#example_length').css({ "overflow": "auto" });
        $('#example_filter input').addClass("add");
        $('#example_filter').append('<span class="glyphicon glyphicon-search  form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        var list = $("#ClassID").html();
        $('#example_length').append(

            '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
            '<div class="d-bar"></div>' +
            '</div>'
              +

           '<div class="col-md-3 col-lg-3">' +
            '<div class="col-md-6" style="padding:0px; margin-top:5px">' +
           '<lable class=control-label">Select Class</lable>' +
           '</div>' +
           '<div class="col-md-6">' +
           '<select class="form-control input-sm" id="Class" name="ClassID" onclick="class_click(this)">' + list + '</select>' +
           '</div>' +
           '</div>'+

            '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
            '<div class="d-bar"></div>' +
            '</div>' +

           '<div class="col-md-3 col-lg-3">' +
           '<div class="col-md-6" style="padding:0px; margin-top:5px">' +
           '<lable class="control-label">Select Subject</lable>' +
           '</div>'+
           '<div class="col-md-6">' +
           '<select class="form-control  input-sm" id="Subjects" name="Subject" onclick="sub_click()" disabled><option>Select one</option></select>' +
           '</div>' +
           '</div>' +

            '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
            '<div class="d-bar"></div>' +
            '</div>' +

           '<div class="col-md-3 col-lg-3">' +
           '<div class="col-md-1 col-sm-3 col-xs-3" style="padding-left:0px"><a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a href="/AspNetAnnouncement/Create"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Create" data-placement="bottom"></i></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a href=""><span style="color:gray"><i class="glyphicon glyphicon-download-alt"  data-placement="bottom"></i></span></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a href=""><span style="color:gray"><i class="fa fa-ban" data-placement="bottom"></i></span>' + '</a></div>' + '<div class="col-md-1" padding-left:0px;">' +
           '<div class="d-bar"></div>' +
           '</div>' +
           '</div>');
        //$("#Class").prepend("<option value='0'>Select One</option>");
    }

       function DrawTable1() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        //$('#example_filter').css("col-lg-9 col-md-8 col-sm-12 col-xs-12");

        $('#example_wrapper').css("text-align", "left");
        $('#example_length').css("text-align", "left");
        $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        $("#example_length label").css("text-align", "left");
        $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
        // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
        //$('#example_length').css({ "overflow": "auto" });
        $('#example_filter input').addClass("add");
        $('#example_filter').append('<span class="glyphicon glyphicon-search  form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        var list = $("#ClassID").html();
        $('#example_length').append(

            '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
            '<div class="d-bar"></div>' +
            '</div>'
              +

           '<div class="col-md-3 col-lg-3">' +
           '<lable class="col-md-1 col-lg-2 col-sm-12 col-xs-12 control-label" style="text-align:left; width:80px; padding-left:0px; padding-right:0px;">Select Class</lable>' +
           '<select class="form-control reg_name input-sm" id="Class" name="ClassID" onclick="class_click(this)">' + list + '</select>' +
           '</div>' +
            '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
            '<div class="d-bar"></div>' +
            '</div>' +
           '<div class="col-md-3 col-lg-3">' +
           '<lable class="col-md-3 col-lg-3 col-sm-12 col-xs-12 control-label" style="text-align:left; padding-left:0px; width:80px; padding-right:0px;">Select Subject</lable>' +
           '<select class="form-control reg_name input-sm" id="Subject" name="Subject" onclick="sub_click()" disabled><option>Select One</option></select>' +
           '</div>' +
            '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
            '<div class="d-bar"></div>' +
            '</div>' +

           '<div class="col-md-3 col-lg-3">' +
           '<div class="col-md-1 col-sm-3 col-xs-3" style="padding-left:0px"><a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a href=""><span style="color:gray"><i class="glyphicon glyphicon-edit" data-placement="bottom"></i></span></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a href=""><span style="color:gray"><i class="glyphicon glyphicon-download-alt"  data-placement="bottom"></i></span></a></div>' +
           '<div class="col-md-1 col-sm-3 col-xs-3"><a href=""><span style="color:gray"><i class="fa fa-ban" data-placement="bottom"></i></span>' + '</a></div>' + '<div class="col-md-1" padding-left:0px;">' +
           '<div class="d-bar"></div>' +
           '</div>' +
           '</div>');
      //  $("#Class").prepend("<option value='0'>Select One</option>");
    }

    var table;
    $(document).ready(function () {

        table = $("#example").dataTable();

        $('.table').on('click', 'tbody tr', function () {
            var td = $(this).children("td");
            var userName = $(td[0]).children("input").val();
            userName = userName.trim();

            window.location.href = "/AspNetAnnouncement/Details?id=" + userName;
        });

        var subjectcookieval;
        var ClassCookie_Announcementval
        var allcookies = document.cookie;

        // Get all the cookies pairs in an array
        cookiearray = allcookies.split(';');

        // Now take key value pair out of this array
        for (var i = 0; i < cookiearray.length; i++) {
            name = cookiearray[i].split('=')[0];
            value = cookiearray[i].split('=')[1];


            if (cookiearray[i].split('=')[0] == " ClassCookie_Announcement" || cookiearray[i].split('=')[0] == "ClassCookie_Announcement") {
                ClassCookie_Announcementval = cookiearray[i].split('=')[1];

            }

            if (cookiearray[i].split('=')[0] == " SubjectsCookie_Announcement" || cookiearray[i].split('=')[0] == "SubjectsCookie_Announcement") {
                subjectcookieval = cookiearray[i].split('=')[1];

            }
        }

        if (ClassCookie_Announcementval != null && subjectcookieval != null) {
            var selectClass = document.getElementById('ClassID');
            selectClass.value = ClassCookie_Announcementval;


            SubjectsByClassID(ClassCookie_Announcementval);
            AnnouncementBySubID(subjectcookieval);



        }
    });

    function AnnouncementBySubID(selectedSubject) {
        $.get('@Url.Action("AnnouncementBySubject", "Teacher_Dashboard")',
            { id: selectedSubject }, function (data) {
                $('#announcement_table').html(' ');
                table.fnClearTable();
                $.each(data, function (i, item) {
                    table.fnAddData([item.Title + "<input type='hidden' value=" + item.Id + " />", item.SubjectName, item.Title]);
                });
                table.fnDraw();
            });
    }


    function class_click() {
        var selectedClass = $("#Class").val();
     //   document.cookie = "ClassCookie_Announcement=" + selectedClass + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
       SubjectsByClassID(selectedClass);
      //  window.location.href = "/Teacher_Dashboard/SubjectsByClass?id=" + selectedClass;
    }



    function SubjectsByClassID(ClassIDVal) {
        $.get('@Url.Action("SubjectsByClass")',
            { id: ClassIDVal }, function (data) {
                //alert(JSON.stringify(data));
                $('#Subjects').html('');
                $('#Subjects').prop('disabled', false);
                $.each(data, function (i, item) {
                    $('#Subjects').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                });

            });
       
        //$.get("/Teacher_Dashboard/SubjectsByClass?id=" + ClassIDVal, function (data, status) {
        //    debugger;
        //    $('#Subjects').html('');
        //    $('#Subjects').prop('disabled', false);
        //    $.each(data, function (i, item) {
        //        $('#Subjects').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
        //    });

        //});
    }

    function sub_click() {
        var selectedSubject = $("#Subjects").val();
        document.cookie = "SubjectsCookie_Announcement=" + selectedSubject + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
        AnnouncementBySubID(selectedSubject);
    }

</script>


@if (User.IsInRole("Teacher"))
{
    <label>@Html.ActionLink("Home", "Dashboard", "Account") > <b><a href="#">Announcement</a></b> </label>

    <script>
        $(document).ready(function () {
            DrawTable();
        })
    </script>

}
else
{
    <label>@Html.ActionLink("Home", "Dashboard", "Account") > <a href="#" class="sidebar-toggle navigate" data-toggle="offcanvas" style="background-color:#F7F7F7 !important">Teacher</a> > <b><a href="#">Announcement</a></b> </label>

    <script>
        $(document).ready(function () {
            DrawTable1();
        })
    </script>
}
<h4>Announcement</h4>

    <div class="box box-primary" style="display:none">
        <div class="box-body">
        <div class="">
            <div class="form-horizontal">
               
                    <div class="form-group">
                        <br />
                        <label class="col-md-2 control-label"><b>Select Class</b></label>
                        <div class="col-md-9">
                            @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"><b>Select Subject</b></label>
                        <div class="col-md-9">
                            <select class="form-control" id="subjects" name="subjects" disabled></select>
                        </div>
                    </div>
        
            </div>
        </div>
            </div>
    </div>

    <div class="box box-primary">
        <div class="box-body"></div>
        <table class="table table-striped table-bordered" id="example">
            <thead>
                <tr>
                    <th>
                        Announcement Title
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody id="announcement_table"></tbody>
        </table>
            </div>
